[2014-05-30 20:04] raphaelschaad opened #1 "Log using CocoaLumberjack, if available"
And gracefully fall back, if not.

Related discussion: https://github.com/CocoaPods/CocoaPods/issues/598

[2014-05-30 20:08] raphaelschaad opened #2 "Allow tracking arbitrary debugging data for any instance of `FLAnimatedImage`"
We used to have properties like

[code]

etc. to track certain debugging data.

I'm thinking just one NSDictionary like

[code]

and leave it up to the "client classes" (e.g. image loading operations) to define keys and store/query the value, should do it.

[2014-05-30 20:22] raphaelschaad opened #3 "Add progressive loading support"
Allow for frames to be displayed and played as the GIF file is still being fetched from the network.

See this first prototype of it: https://github.com/geoffmacd/FLAnimatedImage/commit/e87569da8c9864d36a362e36c2f03a6d5a1a712d

[2014-05-30 20:24] raphaelschaad opened #4 "Support APNG image format"

[2014-05-30 20:25] raphaelschaad opened #5 "Support WebP image format"

[2014-05-30 20:27] raphaelschaad opened #6 "Continuous playback when scrolling in UIScrollView"
See comment in code when setting up the run loop mode for the `CADisplayLink` as a starting point: https://github.com/Flipboard/FLAnimatedImage/blob/master/FLAnimatedImageDemo/FLAnimatedImage/FLAnimatedImageView.m#L84

[2014-05-30 20:28] raphaelschaad opened #7 "Bring demo app to iOS 5 and 6"
FLAnimatedImage fully supports iOS 5 and 6 but the demo player doesn't, because of simple UI and sample project customization that needs to get done before lowering the deployment target.

[2014-05-30 20:50] raphaelschaad opened #8 "Move to #import single header"
Currently both headers, `FLAnimatedImage.h` and `FLAnimatedImageView.h` need to be imported. It seems it would make sense to just make it one.

[2014-05-31 16:52] timonus opened #10 "Unify FLAnimatedImageView image setters"
Merging -setAnimatedImage: and -setImage: into a single method makes the API easier to adopt.

[2014-05-31 16:56] timonus opened #11 "Make FLAnimatedImage into a UIImage subclass"
Current image caches generally return objects of a single type, like UIImage or NSImage. It's hard to plug FLAnimatedImage into existing caches because objects of different classes will have to be returned and type checked.

It's a bit of work, but inheriting from UIImage and overriding all the default initializers would also make the API easier to adopt, though this could be done without subclass

[2014-06-02 19:42] raphaelschaad opened #14 "Investigate porting FLAnimatedImage over to Swift"
Swift is Apple's new programming language.

[2014-06-03 15:51] geoffmacd opened #15 "investigate using GPU for image decoding"
This is a great tool for apps that heavily use GIF's but CPU use is high when caching is limited to a few frames. This is due to the decoding of the images on demand which is performed by the CPU as I understand. It'd be great it if we could use the GPU instead. Have you looked into this?

[2014-06-05 00:45] raphaelschaad opened #16 "Fix use of undeclared identifier 'BYTE_SIZE' when compiling with Xcode 6"
It seems that got deprecated.

[2014-06-05 18:36] raphaelschaad opened #17 "Investigate using Xcode 6's Playground to show case FLAnimatedImage"
Maybe a .playground file can be complementary to the demo project.

[2014-07-07 20:21] lanatmwan opened #19 "Xamarin/mono wrapper"
More of a feature request than issue, but it would be great if someone with the know how would create a mono wrapper for this to decrease the barrier to entry even further.

[2014-07-16 21:04] pronebird opened #20 "delayTime rounding"
It doesn't seem to support the minimum delayTime. That's probably due to float and double comparison, even though wrapped in NSNumber.

[code]

[2014-07-21 18:36] #20 closed, assigned to raphaelschaad

[2014-07-24 04:29] #16 closed, assigned to raphaelschaad

[2014-08-06 18:04] vinibaggio opened #23 "Crash on dealloc on animating image"
Here at Medium we are using `FLAnimatedImage` for a project and we've seeing crashers that you might be experiencing as well.

This is the stack:

[code]

I suspect that the call that UIImageView's dealloc to stopAnimating is unexpected. What ends up happening is that, on stopAnimating, displayLink tries to be recreated. I don't fully understand what this implies and results in a crash, but maybe

[2014-08-07 05:26] #23 closed, assigned to raphaelschaad

[2014-08-07 05:37] #2 closed, assigned to raphaelschaad

[2014-08-07 05:40] raphaelschaad opened #26 "Bring demo app to iPhone"

[2014-08-07 18:21] caughtinflux opened #27 "Continue Playing Even During Animation"
Looked through the project and comments where I thought I'd find something, but I've been unable to find anything that explains why the GIFs are paused during an animation. This is the only flaw with the class as far as I can tell, everything else works perfectly.

[2014-08-08 05:03] #27 closed, assigned to raphaelschaad

[2014-08-11 11:50] caughtinflux opened #29 "FLAnimatedImageView goes black on receiving a touch inside a collection view cell"
Any FLAnimatedImageView instances that are placed in a collection view cell's content view seem go black on receiving a touch. On recreating the cell (via scrolling the cell out-of and back into view again), it no longer goes black on receiving a touch. I am adding the FLAnimatedImageView to the cell's contentView using IB, for what its worth.

[2014-08-14 17:06] timonus opened #33 "Multiple image views referencing the same image cause loading to malfunction"
See this branch: https://github.com/tijoinc/FLAnimatedImage/tree/mutiple-views-same-image

If you create multiple instances of `FLAnimatedImageView` that refer to the same instance of `FLAnimatedImage` loading stutters and stops.

![issue](https://cloud.githubusercontent.com/assets/522951/3923402/295539d4-23d3-11e4-8254-367f0308dd47.gif)

The image loading methods within `FLAnimatedImage` are inte

[2014-09-07 07:23] ghost opened #36 "Add "#import <UIKit/UIKit.h>" into FLAnimatedImage.h when using Swift"
I tried to using this package in a Swift project, then found some compiler error like this
![2014-09-07 3 20 21](https://cloud.githubusercontent.com/assets/4393602/4177788/789ef78e-365f-11e4-9532-218cb64a03f5.png)

Just add "#import <UIKit/UIKit.h>" into FLAnimatedImage.h to fix it

[2014-10-07 01:33] raphaelschaad opened #40 "Better formatting of some log statements"
`Verbose: Rounding frame 5's `delayTime` from 0.000000 up to default 0.100000 (minimum supported: 0.020000).`

[2014-10-10 06:11] #1 closed, assigned to raphaelschaad

[2014-10-10 22:25] #6 closed, assigned to raphaelschaad

[2014-10-14 23:35] #29 closed, assigned to raphaelschaad

[2014-10-14 23:51] #36 closed, assigned to raphaelschaad

[2014-10-16 02:33] #8 closed, assigned to raphaelschaad

[2014-10-21 23:30] vinibaggio opened #44 "Failed to compile project when project uses CocoaLumberjack"
We use CocoaLumberjack in Medium's app and we declare `ddLogLevel` as:
`extern int ddLogLevel;`

The project now fails with the following error:

[code]

What do you think?

[2014-10-22 00:01] #44 closed, assigned to raphaelschaad

[2014-10-24 14:15] SergeyOleynich opened #46 "Please can anyone help me?"
I'm trying to use FLAnimatedImage to show 84 gif in collection view. But i can't do this my app perfect work in simulator but doesn't work on real device. I had next code:
const int NUMBER_OF_GIFS = 84;
@property (strong, nonatomic) FLAnimatedImage *gifImage;

[code]
- (UICollectionViewCell *)collectionView:(UICollectionView *)collectionView cellForItemAtIndexPath:(NSIndexPath *)indexPath
  {
  Ce

[2014-10-24 20:58] raphaelschaad opened #47 "Support reverse playback"
We could support reverse playback on the view-level. The API could be:

[code]

(Compare AVPlayerItem's [`canPlayReverse`](https://developer.apple.com/library/ios/documentation/AVFoundation/Reference/AVPlayerItem_Class/index.html#//apple_ref/occ/instp/AVPlayerItem/canPlayReverse) API.)

The data provider (image) would have know about it and reverse all it's internal caching logic too. To know abou

[2014-10-25 21:33] #46 closed, assigned to nobody

[2014-10-25 22:01] raphaelschaad opened #48 "Investigate creating a "Modern Framework" of FLAnimatedImage"
[WWDC 2014, Session 416 ,Building Modern Frameworks](http://asciiwwdc.com/2014/sessions/416)

[2014-10-27 09:02] SergeyOleynich opened #49 "Please can anyone explain me."
I create a breakpoint in FLAnimatedImage in
- (void)didReceiveMemoryWarning:(NSNotification *)notification
  and when I start my app I always go to this method many times. Is it incorrect?

[2014-10-27 14:43] #49 closed, assigned to nobody

[2014-11-01 02:27] atticus opened #50 "Error with 2.0.0-beta3 and CocoaLumberjack integration"
When I create a project that contains both FLAnimatedImage 1.0.3 and CocoaLumberjack 2.0.0-beta3, I get the following linker error:

[code]

I'm also seeing it with CocoaLumberjack 1.9.x. I can replicate this by creating an empty project with just those two pods added.

[2014-11-02 00:51] #50 closed, assigned to raphaelschaad

[2014-11-12 21:42] ViccAlexander opened #52 "Animation Reset?"
Is there a way to reset an animation back to frame 0 programmatically? Or better yet a way to load the image in a non-animated state?

[2014-11-13 01:29] caughtinflux opened #53 "Jump to frame"
Is there a way to jump to a specific frame of a GIF? This would be a huge help when trying to sync two views with the same GIF.

[2014-11-20 02:47] GabrielCartier opened #54 "GIF don't seem to animate on iOS 7"
I'm using the FLAnimatedImage and it doesn't seem like the gif is getting animated. I'm using a local gif like so:

[code]

No issue whatsoever on iOS 8 but I can't get the GIF to animate on iOS7. I tried with startAnimating but that does not seem to help (plus it seems like it's not necessary).

[2014-11-23 18:46] #54 closed, assigned to raphaelschaad

[2014-11-28 12:12] Moncter opened #56 "crash when setAnimatedImage involved"
Crashed: com.apple.main-thread
EXC_BAD_ACCESS KERN_INVALID_ADDRESS at 0xbf00bdf0
getMethodNoSuper_nolock(objc_class*, objc_selector*) + 23
CFRelease + 560
_CGImagePlusFinalize + 120
CFRelease + 466
CFRelease + 466
_CGImageSourceFinalize + 134

CFRelease + 466

FLAnimatedImage.m line 316
-[FLAnimatedImage dealloc]

objc_object::sidetable_release(bool) + 174

FLAnimatedImageView.m line 62
-[FLAnimat

[2014-12-11 05:09] pjebs opened #57 "Animaton Rewind"
Is there anyway to detect when the animation has ended AFTER it has gone to the end and THEN gone backwards back to the start?

[2014-12-29 15:02] danielgomezrico opened #59 "clear background"
If my gif have a clear background how can I make FLAnimatedImage to load it?

I'm using this:

`convenience init(gifResource: String) {
		let imagePath = NSBundle.mainBundle().pathForResource(gifResource, ofType: "gif")
		self.init(animatedGIFData: NSData(contentsOfFile: imagePath!))
}`

[2015-01-13 10:52] Moncter commented on #56
I find the issue too!

[2015-01-13 10:52] Moncter commented on #56
0
Crashed: com.apple.main-thread
EXC_BAD_ACCESS KERN_INVALID_ADDRESS at 0xe18a0461
 raw
0	libobjc.A.dylib
objc_msgSend + 5
release
7	CoreFoundation
CFRelease + 494
8
ImageIO
_CGImageSourceFinalize + 186
9
CoreFoundation
CFRelease + 494
10
MomoChat
FLAnimatedImage.m line 316
-[FLAnimatedImage dealloc]
11
libobjc.A.dylib
objc_object::sidetable_release(bool) + 166
12
MomoChat
FLAnimatedImageView.m li

[2015-01-14 00:16] raphaelschaad opened #62 "Bring demo app to iOS 6"
FLAnimatedImage supports iOS 6+ but the demo player is at 7+ because of some adjustments that need to happen before lowering the deployment target.

See previous (closed) issue: https://github.com/Flipboard/FLAnimatedImage/issues/7

[2015-01-14 00:17] raphaelschaad commented on #7
Close in favor of https://github.com/Flipboard/FLAnimatedImage/issues/62 because iOS 5 support got dropped with https://github.com/Flipboard/FLAnimatedImage/pull/61

[2015-01-14 00:17] #7 closed

[2015-01-17 01:36] raphaelschaad commented on #59
Clear background or not shouldn't matter. FLAnimatedImage works well with GIFs that use transparency. Check out the predrawing code handling the alpha channel in FLAnimatedImage.m for that.

It seems you're using Swift. I'm actually not too familiar with Swift yet, but maybe the Swift port of FLAnimatedImage can help you: https://github.com/Flipboard/FLAnimatedImage/pull/55

[2015-01-17 01:39] raphaelschaad commented on #57
I'm not sure I fully understand you're question, but it seems to that you want a callback when playback has reached the end (and a new loop potentially -- depending on `loopCount`) will start?

Is this what you're looking for? https://github.com/Flipboard/FLAnimatedImage/pull/60

It would help to understand your use case better.

[2015-01-17 02:36] pjebs commented on #57
Say there are 3 frames: A, B and C.

There should be a property i.e. loopBackwards = YES where after playing A, B, C, B, A, B, C ...

[2015-01-17 03:18] raphaelschaad commented on #57
Got it. You want something like this: https://github.com/Flipboard/FLAnimatedImage/issues/47

Closing this issue as a dupe and adding some more detail to the linked issue.

[2015-01-17 03:18] #57 closed

[2015-01-17 03:20] raphaelschaad commented on #47
It seems there could also be a `playbackMode` property that takes an enum:
- default (current behavior)
- reverse (above discussed behavior)
- rewind (behavior described by @pjebs here https://github.com/Flipboard/FLAnimatedImage/issues/57)

[2015-01-17 16:10] danielgomezrico commented on #59
It looks that my gif just have a color in the background... sorry

[2015-01-17 22:41] raphaelschaad commented on #59
Can you please post and example? I can't repro and will close this issue otherwise. Thanks!

[2015-01-18 23:28] MrBendel commented on #59
@raphaelschaad I think @danielgomezrico was saying he didn't realize his gif had a color in the background so I don't believe there is an issue in FLAnimatedImage. If i'm mistaken apologies around!

[2015-01-18 23:28] #59 closed

[2015-01-19 14:17] danielgomezrico commented on #59
Yeah! there's no mistake, I apologise again.

[2015-02-02 18:28] raphaelschaad opened #64 "Investigate bringing FLAnimatedImage to Apple Watch"
WatchKit has its own way of playing animations/image sequences/animated GIFs (https://developer.apple.com/library/prerelease/ios/documentation/WatchKit/Reference/WKInterfaceImage_class/index.html#//apple_ref/occ/instm/WKInterfaceImage/startAnimatingWithImagesInRange:duration:repeatCount:) but it could be useful to leave the correct parsing of GIF data up to a library. Thoughts?

[2015-02-04 04:37] keeetaka opened #65 "speed change"
Is there a way to change Gif Speed?
For example, change value of UISlider , gif speed changes.

I tried to change animationDuration.FLAnimatedImageView, but did not work well.

[2015-02-04 06:16] raphaelschaad commented on #65
FLAnimatedImage doesn't support a way to alter the playback of a GIF. It would be trivial to expose an interface to tweak `@property (nonatomic, strong, readonly) NSArray *delayTimes;` but currently the design intents to honor the speed encoded in the original GIF file.

What's your use case?

[2015-02-04 08:55] keeetaka commented on #65
Thank you for reply.
I want to see a GIF with slow speed or fast speed.

As it stands, will it be achieved to change `@property(nonatomic,strong,reawrite) NSArray *delayTimes`  or  `@property(nonatomic,strong,reawrite) NSUInteger loopCount` ??

[2015-02-04 18:07] raphaelschaad commented on #65
Yeah, you can tinker with these properties (make them `readwrite` and assign new values etc.). I'm going to close this issue, as I don't plan to add support for this at the moment.

If you have any more questions on how to exactly implement certain details on this, StackOverflow would be great place to ask for specific coding help.

If you end up implementing a general solution that you feel good

[2015-02-04 18:07] #65 closed

[2015-02-04 18:16] vade commented on #11
+ 1 to UIImage subclass.

[2015-03-02 02:02] raphaelschaad commented on #56
Unless there's more information provided, I can't do anything about it and will close this issue for now. Please feel free to reopen with more detailed information.

[2015-03-02 02:02] #56 closed

[2015-03-03 14:21] ingouackaz opened #67 "imageLazilyCachedAtIndex problem"
Hi @raphaelschaad !

I'm trying  to retrieve all the images of a gif, howerver this only works when the size of the gif is less than 1.5 mb. Is that normal ?

If yes, do you another way to retrieve all the images of a gif ?

Thank you :)

[2015-03-03 14:53] caughtinflux commented on #67
You could poll FLAnimatesImage the same way FLAnimatedImageView does to
retrieve all the frames of the GIF; and it should work for larger ones as
well.
On 03-Mar-2015, at 7:51 pm, Roger Ingouacka <notifications@github.com>
wrote:

Hi @raphaelschaad <https://github.com/raphaelschaad> !

I'm trying to retrieve all the images of a gif, howerver this only works
when the size of the gif is less than 1.

[2015-03-03 15:19] ingouackaz commented on #67
Thanks @caughtinflux

Do you have a little example, that shows me how to do this ?

[2015-03-04 08:52] ingouackaz commented on #67
@caughtinflux  ?

[2015-03-04 13:31] caughtinflux commented on #67
Have a look at FLAnimatedImage's [display link callback](https://github.com/Flipboard/FLAnimatedImage/blob/master/FLAnimatedImageDemo/FLAnimatedImage/FLAnimatedImageView.m#L234). However, FLAnimatedImage isn't exactly built for this; you could simply use one of the GIF to Animated UIImage libraries and get an array of all the frames in a GIF.

[2015-03-11 14:32] geennari opened #68 "Help with Swift"
Ok, first I have my Gif in storyboard and I have the IBOutlet like this in my view:
[code]
But i'm receiving an error of NSUnknownKeyException: this class is not key value coding-compilant for the key imageGIF.

And second, how can I play any GIF in Swift? I'm kinda stuck in this for like a week.

[2015-03-13 18:25] maha-ghonam opened #69 "app crashes while trying imageWithData method"
Hi,
i'm trying to use [FLAnimatedImage imageWithData:data] method but the app crashes with the following:

-[_UIAnimatedImage prepareAnimatedImageWithData:mode:]: unrecognized selector sent to instance 0x7fc15aec5220
- Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[_UIAnimatedImage prepareAnimatedImageWithData:mode:]: unrecognized selector sent to instance 0x7fc

[2015-03-13 18:36] raphaelschaad commented on #69
Looking at `-prepareAnimatedImageWithData:mode:`, you must be using the experimental branch ["uiimage-subclass"](https://github.com/Flipboard/FLAnimatedImage/commits/uiimage-subclass) which is far from done and I can't recommend using it yet or track GitHub issues on it. But if you want to play around with it, you can always do that and any suggestions or fixes are welcome.

[2015-03-13 18:55] maha-ghonam commented on #69
thanks for your quick reply.
when do u think this branch will be available for use?

[2015-03-13 19:17] raphaelschaad commented on #69
When it's done ;)

It won't exist as a branch, it will be merged to master and become FLAnimatedImage 2.0.

[2015-03-13 19:18] #69 closed

[2015-03-23 13:31] rounak opened #71 "prevent creation of _UIAnimatedImage"
I know that this is probably unrelated to FLAnimatedImage, but I thought you might be able to help me out. I'm downloading gifs from the network, and they have a large file size, so I just want them to be plain old UIImage that take up minimum RAM.

What's happening though is that I'm getting `_UIAnimatedImage` in the imageview which are presumably being animated by the system (I'm using an FLAnim

[2015-03-23 13:33] caughtinflux commented on #71
This is definitely the wrong place to be asking, but your issue is that SDWebImage is automatically creating the animated UIImage from the remote data.

[2015-03-23 13:49] rounak commented on #71
Yeah I just figured that out. Apologies for posting that here.

[2015-03-23 13:49] #71 closed

[2015-03-23 14:19] rounak commented on #71
welp. looks like there's no official way to disable GIF creation. Didn't really want to fork.

[2015-03-23 17:09] raphaelschaad commented on #71
The fine people over at SDWebImage are looking into replacing that bit with FLAnimatedImage: https://github.com/rs/SDWebImage/issues/945

Here the relevant thread on FLAnimatedImage discussing the strategy:
https://github.com/Flipboard/FLAnimatedImage/issues/11

I think it's mostly on me to bang the `uiimage-subclass` branch (highly experimental, pushed a few weeks ago) in shape, then we can start

[2015-03-24 13:40] kean commented on #71
[DFImageManager](https://github.com/kean/DFImageManager) already features `FLAnimatedImage` integration. It has its own `UIImage` subclass `@interface DFAnimatedImage : UIImage`. I'm looking forward to replace it with FLAnimatedImage implementation.

[2015-04-15 08:39] bagusflyer opened #72 "Can play remote gif through url or not?"
Can play remote gif through url or not? Thanks

[2015-04-15 09:14] #72 closed

[2015-04-18 13:09] jcampbell05 opened #73 "Implement Unit Tests"
Hey Guys, I'll be working on giving you guys some unit tests at the test jam today.

[2015-04-18 13:54] #73 closed

[2015-04-21 15:45] mtgomes opened #75 "Undefined symbols for architecture x86_64"
Hi,
I'm getting the following error while building.
[code]

[2015-04-21 17:36] raphaelschaad commented on #75
Since you closed the issue, did you figure out what the problem was?

[2015-04-22 10:20] mtgomes commented on #75
Hi @raphaelschaad. Thanks for the reply.

Actually I was a little bit early in closing the ticket. I thought it was working but the issue is back. I think it's somewhere in the integration with CocoaLumberjack. I've just tested in another project where I'm not using CocoaLumberjack and it works fine. When I add CocoaLumberjack I get that error.

Any known issue with this integration?

[2015-04-27 18:34] sarunw opened #76 "Can I detect corrupt GIF file?"
Sometime a GIF image not play till the end. I don't sure what is the cause of this problem. Is there any way I can detect corrupted/incomplted GIF file?

[2015-05-01 22:56] rynbyjn commented on #75
I get a similar error while running this on circle CI, but works locally from same command line build. My guess would be that this is due to having CocoaLumberjack as a dependency in another pod based on @mtgomes comments.
[code]

[2015-05-04 21:54] GHawk11 commented on #75
Search your build settings for this:
GCC_NO_COMMON_BLOCKS = YES;
Try changing it to "NO".
I had a similar message and this fixed it.

[2015-05-21 17:20] RQEBMM commented on #11
I would also find it helpful if FLAnimatedImage were a subclass of UIImage, as it would help with integration with other image libraries.

[2015-05-25 18:59] bensarz commented on #75
@rynbyjn I'm getting the same issue here. Have you found a solution.?
@mtgomes why would you use CocoaLumberjack in this library and not declare it as a dependency?

[2015-06-02 08:46] chiahsien commented on #52
I wish there be a public method called `reset` or something alike, it'd be a great help.
I'm making a walk-through page with GIFs in different pages and I want the GIF image plays from the beginning when it is displayed.

[2015-06-02 10:08] mtgomes commented on #75
@rynbyjn hum... I think that's what I'm doing, but the issue is still there..

[2015-06-02 12:48] ts57 commented on #68
Hi @geennari - did you ever find a solution to this?  I'm getting a nil outlet, Xcode 6.3.  I'm about to resort to a different solution: http://stackoverflow.com/questions/24485308/how-to-show-gif-into-uiimageview-in-swift?rq=1

[2015-06-02 12:57] geennari commented on #68
Yes, I did. And in fact, that was the solution i found. I imported the Obj-C code to my project and everything went just fine, no problems. This is simple and easy to use.

[2015-06-02 13:00] ts57 commented on #68
Thanks for the quick reply!  Just found my issue, and I was being dumb - accessed the IBOutlet before it was loaded.

[2015-06-09 17:57] barfoon opened #80 "Overly verbose logging in FLAnimatedImageView"
Seeing this in our app, seems like the debug log could be inside of the debug conditional block?

In:

![image](https://cloud.githubusercontent.com/assets/1120510/8065428/6180842c-0eaf-11e5-9a49-55c4824e7555.png)

[code]

[2015-06-22 16:13] bensarz commented on #75
This is caused by the use of `use_frameworks!` in a Podfile.
Which means using this library prevents anyone from using Swift in their project.

[2015-06-29 08:12] Vishaliphone opened #82 "Speed of GIF decrease when it is placed on SKScene."
Hi,
I am using FLAnimatedImage in my game.
It is really nice.

But when i place this gif over SpriteKit's SKScene , unfortunately speed of my gif was decreased.
Same "FLAnimatedImage" object give different effect when it place over UIVIEW & it place over SKScene.
When it place over UIVIEW it gives normal effect but when it placed over SKScene it becomes very slew.

Any suggestions will be apprecia

[2015-06-30 10:24] codepushr opened #83 "Make loopCount writable so one can set the animation loop count"
Hey guys,

first of all great library! I have the scenario where I want to be able to animate a GIF only once but I don't want to modify the GIF because on other places I do want the infinitive loop.

I found the `loopCount` property on `FLAnimatedImage` which when I modify the `readonly` flag and set it to 1 gives me exactly the outcome I want.

Is it possible to make it writable without me havin

[2015-07-02 18:13] aventurella opened #84 "Set `Require Only App-Extension-Safe API` to `Yes` under build settings"
Enables the framework to be included in App Extensions. Everything still builds just fine.

[2015-07-14 11:43] bpoplauschi commented on #11
@raphaelschaad I've missed the `uiimage-subclass` branch for a while, as I didn't see anywhere that you published that. Anyway, I've started playing with it and it looks promising. I was able to integrate it within SDWebImage on a 4.0 branch, but it needs more work.

#### Crash
One issue that I saw is my demo app crashing when using the following [GIF](https://raw.githubusercontent.com/liyong03/YL

[2015-07-25 04:29] liunice opened #87 "Can not animate this gif in iOS 7.1 Device and iOS 8.4 Simulator"
the url is http://ww1.sinaimg.cn/bmiddle/b0cb01d6jw1eucbe6v54hg204604o1ky.gif

[2015-07-27 03:49] IanLuo commented on #5
is this feature included now?

[2015-08-06 17:37] johngibb commented on #52
Can't you just do:

    animagedImageView.animatedImage =  animagedImageView.animatedImage;

to restart the animation?

[2015-08-10 09:47] lexrus commented on #75
Same issue while building for Swift project.

[2015-08-18 03:50] timonus opened #89 "Allow sample GIFs to be downloaded in demo project in iOS 9"
Because http was deprecated in iOS 9, the demo project fails to download its two images.

[2015-08-18 21:01] raphaelschaad commented on #89
:-O Do you have a link to what new way Apple suggests?

I don't run iOS 9 beta yet. Do you know of a quick patch?

[2015-08-18 21:34] tijoinc commented on #89
Quickest way to fix this is to either use HTTPs for those images or add `NSAllowsArbitraryLoads=YES` to a `NSAppTransportSecurity` dictionary in the demo project's info plist. This is described in Example E [here](http://www.neglectedpotential.com/2015/06/working-with-apples-application-transport-security/).

[2015-08-20 08:03] SummerWu opened #91 "How to get GIF playing time？"
How to get GIF playing time？Have you any idea？

[2015-08-20 08:25] raphaelschaad commented on #91
You'd sum all delay times: https://github.com/Flipboard/FLAnimatedImage/blob/master/FLAnimatedImageDemo/FLAnimatedImage/FLAnimatedImage.h#L53

I'll close this issue and hope this pointer helps. If you have any more questions, feel free to ask.

[2015-08-20 08:25] #91 closed

[2015-08-20 08:31] raphaelschaad commented on #84
Thanks for opening the issue and the detailed description.

This issue has been fixed in a recently merged PR. The commit is this: https://github.com/cybertk/FLAnimatedImage/commit/3dfeba5cd295086608171613c6ecd7fc226d3e59

It's already on master and will be included in the shortly upcoming version 1.0.9.

[2015-08-20 08:31] #84 closed

[2015-08-20 08:34] raphaelschaad commented on #48
Done in merged PR https://github.com/Flipboard/FLAnimatedImage/pull/79 and will be included in 1.0.9.

[2015-08-20 08:34] #48 closed

[2015-08-20 08:35] #15 closed

[2015-08-20 09:01] raphaelschaad commented on #83
Hi – thanks for opening this issue.

I'm not convinced yet that making the immutable properties of a GIF writable is the best way to go. Consequently, the same would have to happen e.g. with delay times.

Here is an approach with a loop completion block: https://github.com/Flipboard/FLAnimatedImage/pull/60/files

I'll think more about it. Any input is welcome!

[2015-08-20 10:12] cemo commented on #83
#60 seems like a natural fit. Any chance to merge it?

[2015-09-02 13:18] rhenz commented on #82
Have you resolved this? If so, kindly share. Thanks. :)

[2015-09-03 14:15] aventurella opened #93 "Carthage Does Not Build"
adding the following to my Cartfile per the README.md

[code]

results in the following:

[code]

[2015-09-19 00:00] ahusseini commented on #19
@raphaelschaad Stumbled on this request, I haven't attempted binding the project to Xamarin, but this is what's required if you're curious:

https://developer.xamarin.com/guides/ios/advanced_topics/binding_objective-c/

[2015-10-14 17:49] hipwelljo opened #98 "GIF not animating at the original speed"
I'm exporting a GIF from Photoshop, and placing it into a view controller which is part of a page view controller. I'm noticing the frame rate does not match the original GIF frame rate - it's played back much slower than the original GIF, but only when run on a physical device - I tested the iPhone 6 and iPad 2. When run on the Simulator it animates at the correct speed. Has anyone else seen this

[2015-10-19 01:53] philhob opened #99 "Sample or Demo SWIFT code using FLAnimatedImage"
Hello,
I'm trying to use FLAnimatedImage with a new SWIFT application.
I imported the FLAnimatedImage.* and FLAnimatedImageView.* files.mI created the Bridging-Header.h. I added import Foundation. I have no compilation/build error.

I try to load the Gif into my ImageView with this code:
    @IBOutlet weak var animatedImageView: FLAnimatedImageView!
    animatedImageView.animatedImage = FLAnimated

[2015-10-19 15:02] KHellkvist opened #100 "Image shows in incorrect orientation"
Having the FLAnimatedImageView showing a FLAnimatedImage in a UITableViewCell I sometimes get the animated GIF showing in the wrong orientation.
Scrolling sometimes makes the image show correct at another time.
Anyone having the same problem or had it before?
[code]
in
[code]
row 248
seems to return the image in correct orientation when debugging, but still result in the wrong orientation when dra

[2015-10-21 08:39] yurijmi commented on #4
+1. That would be awesome!

[2015-10-21 10:10] kean commented on #4
have you tried [APNGKit](https://github.com/onevcat/APNGKit)?

[2015-10-21 10:12] yurijmi commented on #4
Yes, I did. But it doesn't support GIF.
Only if you have two ImageViews for APNG and GIF.

[2015-10-21 10:16] kean commented on #4
Switching different image views when image is loaded doesn't seem like much of a problem.

[2015-10-21 10:17] yurijmi commented on #4
Even if it was declared in storyboard?

[2015-10-21 10:24] kean commented on #4
Well, that's when you create UI in code - for non-trivial cases :)
Off topic: there are tons of tools that makes creating UI in code arguably easier then in interface builder. See [PureLayout](https://github.com/PureLayout/PureLayout), [Visual Format Language](https://developer.apple.com/library/ios/documentation/UserExperience/Conceptual/AutolayoutPG/VisualFormatLanguage.html)

[2015-10-21 14:19] yurijmi commented on #4
Thanks for the links! Definitely will check that out.

[2015-10-22 00:33] kdubb commented on #75
PR #101 allows building as a framework.  Specify 'FLAnimatedImage/Framework' and the CocoaPods !use_frameworks option will work correctly.

[2015-10-27 14:46] mtgomes commented on #75
@kdubb Bingo! That fixes the issue!! Cheers!

[2015-11-03 09:32] jackkyim commented on #75
@mtgomes I get similar error! How did fix the issue!

[2015-11-04 19:29] TomCorwine commented on #99
In your nib/storyboard, are you initializing a UIImageView, or FLAnimatedImageView? I suspect it's the former. Whatever view "animatedImageView" points to should have its class set to "FLAnimatedImageView."

[2015-11-10 09:38] geelenstef commented on #98
Hi there,

You've found a solution yet? Because i'm facing the same problem atm !

Thanks

[2015-11-13 22:57] samnoble commented on #100
One way this can happen:

Use a contentMode like UIViewContentModeScaleAspectFit, and set a (static) image that requires rotation and scaling. I.e. [UIImage imageWithCGImage:something scale:2 orientation:<not Up>].

Now replace the static image with an animated image that requires different scale / orientation in order to appropriately fit in the view using the specified contentMode.

This happens

[2015-11-17 19:39] arriaowlia commented on #98
If your GIF was exported with below-than-minimum frame delays, those frames will be processed and played back with a relaxed frame delay.

Look for the the definition of "kDelayTimeIntervalMinimum" in "initWithAnimatedGIFData:scale:" of FLAnimatedImage.m. It is set at 0.02s in my local copy. If your frame delay is lower than this value, it will be processed and played at 0.1s (five times the minim

[2015-11-19 20:43] mserougi commented on #98
I'm facing the same problem. The exported gif has a frame delay of 0.03.

[2015-11-20 23:50] timonus commented on #5
https://github.com/facebook/FLAnimatedImage/commit/0cc5f18ad361dc8f590f63694b34db0e50368df2 adds support for this.

[2015-11-23 08:54] hungbv opened #103 "add FLAnimatedImageView as sublayer"
please tell me how can I add FLAnimatedImageView as sublayer of view, such as:
let image = FLAnimatedImage(animatedGIFData: data)
let imageView = FLAnimatedImageView(frame: CGRectMake(50, 50, 50, 50))
imageView.animatedImage = image
self.view.layer.addSublayer(imageView.layer)

[2015-11-30 22:25] #83 closed

[2015-12-02 15:33] timonus opened #107 "Fix carthage library incompatibility with DDLog"
When building with carthage and using in an app that also imports DDLog there's a compilation warning about a header referencing non-modular files.

[2015-12-03 08:08] timonus commented on #107
Started at https://github.com/Flipboard/FLAnimatedImage/tree/logging-decouple.

[2015-12-04 01:08] timonus commented on #93
Resolved!

[2015-12-04 01:08] #93 closed

[2015-12-04 01:08] timonus commented on #93
Thanks @kean

[2015-12-04 01:09] timonus commented on #89
Resolved in https://github.com/Flipboard/FLAnimatedImage/pull/96.

[2015-12-04 01:09] #89 closed

[2015-12-04 01:10] timonus commented on #99
Looks like you're not actually using an `FLAnimatedImageView`, but a `UIImageView` as @TomCorwine mentioned. You need to be using an `FLAnimatedImageView`.

[2015-12-04 01:10] #99 closed

[2015-12-04 01:12] timonus commented on #98
`FLAnimatedImage` does not guarantee absolutely perfect playback rates, it's designed to match as closely as it can but on slower devices or under memory pressure it may lag. You can see this in the sample project by looking at the red frame delay graphs when pressing the "Simulate Memory Warning" button.

Can you provide a sample GIF that exhibits this behavior for us to investigate?

[2015-12-04 01:15] timonus commented on #80
Do you have `FLDebugLoggingEnabled` on? If so you'd likely be seeing this log spew.

If the logs are coming from Cocoa Lumberjack you can manipulate `flAnimatedImageLogLevel` [here](https://github.com/Flipboard/FLAnimatedImage/blob/master/FLAnimatedImage/FLAnimatedImage.h#L129).

I'm also working on some changes to how logging works [here](https://github.com/Flipboard/FLAnimatedImage/tree/logging-

[2015-12-04 01:16] timonus commented on #76
Corrupted GIFs will log that they're corrupted, but the frames that aren't corrupted will still play. You could manually write GIF corruption detection using `CGImageSource` I believe, `FLAnimatedImage` already handles them.

[2015-12-04 01:16] #76 closed

[2015-12-04 01:18] timonus commented on #62
We've dropped support for iOS 6 and 7 because 8+ is required for Carthage support, so this is obsolete.

[2015-12-04 01:18] #62 closed

[2015-12-04 01:20] timonus commented on #14
Was investigated a fair bit, but I think it's good to keep as-is in ObjC for now. Some interesting projects:

- https://github.com/Flipboard/FLAnimatedImage/pull/55 (a branch, still on Swift 1.2)
- https://github.com/khaledmtaha/XAnimatedImage (a fork)

[2015-12-04 01:20] #14 closed

[2015-12-04 01:47] timonus opened #108 "Include FLAnimatedImage built as framework in release binaries"
This is now possible with Carthage

[2015-12-04 03:42] hipwelljo commented on #98
Sorry, I no longer have the gifs we saw the issue with. Our team was able to alleviate the problem quite a bit by reducing the resolution of the gif, but it still didn't meet expectations for smooth animation. We ended up trashing those gifs and using video files. Perhaps someone else who's encountering the same thing can provide a gif.

[2015-12-04 03:48] #98 closed

[2015-12-04 07:44] mserougi commented on #98
I can provide a gif with the issue: https://dl.dropboxusercontent.com/u/522237/onboarding-main.gif

I should note that I've found a different library that plays the gif perfectly, but the library has its own share of other problems: https://github.com/mayoff/uiimage-from-animated-gif

The device I'm using to play the gif is an iPhone 6 Plus, so hardly a slow one.

[2015-12-07 17:06] timonus commented on #98
Yeah, generating animated `UIImages` can be expensive and you don't get per-frame timing.

[2015-12-07 17:19] mserougi commented on #98
@timonus So you're saying there's no way for this library to play the sample gif at its original speed? Is there anything that I can do with the gif itself?

[2015-12-07 17:22] timonus commented on #98
@mserougi I am not saying that this library won't play the sample GIF at it's original speed. `FLAnimatedImage` will play GIFs as closely as it can to their accurate timings given sufficient device resources, it depends on the environment you're playing in.

Per https://github.com/Flipboard/FLAnimatedImage/issues/98#issuecomment-157483260, you may have frame delays under the minimum permitted dela

[2015-12-07 17:27] mserougi commented on #98
@timonus Thank you, appreciate any insight you're able to provide.

[2015-12-08 17:42] timonus commented on #98
Alright, I investigated a bit. Your GIF was very helpful!

Turns out, the dimensions and number of frames in this GIF put it into our "low memory" performance category, seen [here](https://github.com/Flipboard/FLAnimatedImage/blob/master/FLAnimatedImage/FLAnimatedImage.m#L322). This means frames are loaded on demand with minimal prefetching of additional frames, which causes inaccuracies in the fr

[2015-12-08 20:57] dmauro opened #109 "Cocoapods spec still listed as 1.0.8"

[2015-12-08 21:36] timonus commented on #109
Just noticed this today, resolved in https://github.com/Flipboard/FLAnimatedImage/commit/907a7958a4cef6e0a89ec3d69be0bdc1b1516fa0.

[2015-12-08 21:36] #109 closed

[2015-12-09 09:30] mserougi commented on #98
@timonus Glad I could help! This looks very promising indeed and the gifs in my project are playing much more smoothly now. Thank you!

[2015-12-10 00:55] #68 closed

[2015-12-11 03:13] timonus commented on #107
Finished in https://github.com/Flipboard/FLAnimatedImage/pull/111

[2015-12-11 03:13] #107 closed

[2015-12-11 17:44] #80 closed

[2015-12-12 00:17] timonus opened #112 "Fix performance regressions introduced in new logging system"
Issue introduced in https://github.com/Flipboard/FLAnimatedImage/pull/110. That makes strings eagerly formatted, even if they're unused. Trouble is, `FLAnimatedImage` verbose logs quite a bit which causes a lot of string allocation churn. We need to (1) support varargs in `FLAnimatedImage`'s internal logging methods and (2) only construct the strings if the log level exceeds one set externally.

[2015-12-12 08:00] kharmabum commented on #82
+1 this is also occurring for me when the FLAnimatedImageView is small (40x40).

[2015-12-14 17:20] timonus commented on #82
Hey there, I'm not at all familiar with Sprite Kit and this component is mostly intended to be used within UIKit. If you'd like to open a PR to resolve the issue go for it!

[2015-12-17 17:02] #112 closed

[2015-12-17 17:02] #108 closed

[2015-12-17 17:03] timonus commented on #52
I think you'd have to set to `nil` first before setting back to the initial image, because setting that same image on it twice is a no-op. But yes, that should do it.

[2015-12-17 17:03] #52 closed

[2015-12-17 17:06] timonus commented on #67
`FLAnimatedImage` isn't designed to pull each of the frames of an animated GIF, it's designed to play animated GIFs while minimally impacting performance, which means it often dynamically loads frame in and out of memory. If you need to get the frames of an animated GIF I'd recommend using a `CGImageSource` and `CGImageSourceCreateImageAtIndex` as we do [here](https://github.com/Flipboard/FLAnimat

[2015-12-17 17:06] #67 closed

[2015-12-17 17:07] timonus commented on #75
FLAnimatedImage now has no strong dependencies on CocoaLumberjack, so this should be resolved.

[2015-12-17 17:07] #75 closed

[2015-12-17 17:08] timonus commented on #100
Can you provide a sample GIF or project?

[2015-12-18 01:14] samnoble commented on #100
Are you unable to replicate this behavior using the instructions I've provided?

[2015-12-25 22:02] Rotemy opened #114 "Can't play local gif"
Hello,

I'm trying to play gif file from my local storage (the camera roll for example) but without success. Here is my code:

    myFLAnimatedImageView.animatedImage = FLAnimatedImage(animatedGIFData: localImage.asData())

* The localImage is a UIImage I got from a UIImagePickerController

Am I doing something wrong?

[2015-12-26 09:09] caughtinflux commented on #114
not sure what your asData() method does, but if it is a UIImage, it isn't going to be an animated GIF. You'll probably want a different API (Photos.framework) to fetch the GIF from the user's library.

[2015-12-26 09:17] Rotemy commented on #114
I'm using the standard UIImagePickerController class to pick the user media. I'm getting the UIImage and the NSURL. I also tried to do NSData(gifNSURL) but without success.

I'm trying to understand what you mean. Do you mean that I need to allow the user to pick images with  UIImagePickerController and to pick gifs with another control?

[2016-01-05 01:11] timonus commented on #114
Hmm, that's odd. I would expect using the returned `NSURL` to work. I just tried this though and I'm getting the same thing.

![screen shot 2016-01-04 at 5 09 05 pm](https://cloud.githubusercontent.com/assets/522951/12105044/e7faddd6-b305-11e5-9086-0263b6ce0498.png)

Looks like you may have to do some digging into the Photos or Asset Library frameworks -- see here http://stackoverflow.com/a/518784

[2016-01-05 12:05] kean commented on #114
- UIImage (both UIImagePickerControllerEditedImage and UIImagePickerControllerOriginalImage) from UIImagePickerController is a representation of an image that only has a single frame. You need a full original image data to display an asset as an animated image.
- NSURLConnection/NSURLSession/NSData and other similar APIs don't support `assets-library://` scheme.

How to get image data using [Photo

[2016-01-05 17:00] timonus commented on #114
Sounds like this is resolved, thanks @kean :wink:

[2016-01-05 17:00] #114 closed

[2016-01-06 17:07] timonus commented on #100
@samnoble ah yes, I can reproduce it. Sample branch that repros available [here](https://github.com/Flipboard/FLAnimatedImage/tree/orientation-issue).

[2016-01-08 09:42] greedyrouter commented on #100
@samnoble Thanks for your hints here. So I treat the static image as an animated image with 1 frame and infinite recurrence interval and fixed my issue.

[2016-01-08 16:47] #100 closed

[2016-01-11 23:28] timonus opened #115 "Provide means for consuming less memory"
This is critical if one is to use `FLAnimatedImage` in memory constrained environments such as application extensions.

Things to consider:
- Allow for customization of preload buffer (definite savings)
- Allow for disabling of frame predrawing (questionable savings, requires spending time with instruments).

Started at https://github.com/Flipboard/FLAnimatedImage/tree/extension-considerations.

[2016-01-12 00:52] timonus commented on #115
Here are some memory usage samples.

Sample project:
![bare](https://cloud.githubusercontent.com/assets/522951/12251379/747a28ac-b883-11e5-8212-06fb47fe9e16.png)

Sample project with no frame preloading permitted:
![reduced buffer](https://cloud.githubusercontent.com/assets/522951/12251389/7fd6d72c-b883-11e5-9bee-cd10983fd954.png)
*All allocations drops from 48 to 32MB*

Sample project with no fra

[2016-01-12 20:50] timonus opened #116 "Add designated initializer that takes a CGImageSource"
Per https://github.com/Flipboard/FLAnimatedImage/pull/94#issuecomment-171048183 and https://github.com/Flipboard/FLAnimatedImage/blob/master/FLAnimatedImage/FLAnimatedImage.m#L196.

[2016-01-13 19:05] if4lcon opened #118 "high memory usage"
I'm using FLAnimatedImageView in CollectionView with custom uiimageview the problem occur when displaying multiple gifs the frames played slowly

[2016-01-13 19:20] timonus commented on #118
This may help https://github.com/Flipboard/FLAnimatedImage/pull/117.

[2016-01-18 22:50] phpfalcon commented on #118
No noticeable difference
[code]

[2016-01-18 22:55] phpfalcon commented on #118
Should I resize the GIF first before using it with FLAnimatedImage ?

My gifs have 8 only frames . although it doesn't play smoothly

[2016-01-19 06:58] cassidyclawson opened #120 "iPhone 4/4S do not scale gifs to fill AnimatedImageView"
It's pretty strange. iPhone 5 and greater appear to default to a content mode of AspectFill. That's great!

But the iPhone 4 displays the gif at its native resolution and will not respect the contentmode property. Any advice or insight?

Thanks for all the great work on this wonderful library.

Cassidy

[2016-01-21 02:45] lyonlai commented on #5
@timonus I'm having problems compiling the facebook's webp support. any clue? I'm getting undefined symbol for arm64

[2016-01-21 03:14] timonus commented on #5
Yeah, I wasn't able to get it to work either. My guess would be to try older versions of the WebP framework.

[2016-01-21 18:15] GhostRussia commented on #19
Hello, I made a wrapper for Xamarin, but I need to test it. The demo project is rewritten for Xamarin, works. Later, I can do Pull request or create a repository on my account, as you prefer.

[2016-01-25 04:38] caughtinflux commented on #118
@phpfalcon you want to *disable* predrawing, since that is what takes up quite a lot of RAM

[2016-01-25 04:39] caughtinflux commented on #118
Also, if you're displaying the same GIF multiple times, make sure each FLAnimatedImageView has a different instance of FLAnimatedImage.

[2016-01-25 05:16] phpfalcon commented on #118
@caughtinflux Same thing here more gifs more delay on frames playing .. I'm not sure why this happening maybe flanimatedimageview doesn't work with uicollectionview

[2016-01-25 05:30] caughtinflux commented on #118
Well I'm using FLAnimatedImage in Giffage, and we don't see any lag at all. How large are the GIFs?

[2016-01-25 08:15] phpfalcon commented on #118
small actually .. this is peace of code maybe give you something :+1:

		- (NSData *)grabImageDataFromAsset:(PHAsset *)asset
		{
		    __block NSData *imageAssetInfo;
		    PHImageRequestOptions *options = [[PHImageRequestOptions alloc] init];
		    options.synchronous = YES;
		    [[PHImageManager defaultManager] requestImageDataForAsset:asset

[2016-01-25 08:21] caughtinflux commented on #118
I don't think creating FLAnimatedImage in cellForRowAtIndexPath: every time is a very good idea, but other than that, i don't see anything that would cause the lag you mention

[2016-01-25 08:30] phpfalcon commented on #118
maybe I need to move that code to ( willDisplayCell ) ?

[2016-01-26 08:39] liuyihan commented on #100
@greedyrouter I also meet this problem, can tell me more detail?

[2016-01-26 08:52] yuchensc commented on #100
@liuyihan In my case, I have two different types of cells, one is a static image cell, the other is an animated image cell. So I just created different cell reuse identifiers for both of them, to make the cells not interfere with each other.

[2016-01-27 15:30] OllaAshour opened #121 "FLAnimatedImage multiple gif playback delay when using loop count"
I have a UIPageViewController that displays 5 gifs, one in each page. FLAnimatedImage works great, there was only one drawback, there was nothing to set animation loop and so I used https://github.com/Flipboard/FLAnimatedImage/pull/60 to achieve that.

But another problem occurred after a gif completes and stops in one controller and I move to another controller and then return to the previous con

[2016-01-28 12:10] OllaAshour commented on #121
I simply changed the UIPageController transition style from scroll to curl and it worked assuring that the gif will always be reloaded into memory with every single instance created of the page content controller.

[2016-01-28 12:10] #121 closed

[2016-02-01 22:57] cannyboy opened #123 "How to find out if image is gif?"
Normally, I would have the luxury of just checking if the URL ended in ".gif", but unfortunately my URLs just end in a random series of characters. So how could I test if the image is a gif before deciding whether to use a UIImageView or a FLAnimatedImageView?
I'm guessing you have to get the headers of the file somehow, but I don't want to have to get the whole file before deciding to do somethin

[2016-02-01 23:58] timonus commented on #123
1. Create a `CGImageSource` like so: https://github.com/Flipboard/FLAnimatedImage/blob/master/FLAnimatedImage/FLAnimatedImage.m#L204-L205
2. Get the image properties like so: https://github.com/Flipboard/FLAnimatedImage/blob/master/FLAnimatedImage/FLAnimatedImage.m#L230
3. Get the frame count like so: https://github.com/Flipboard/FLAnimatedImage/blob/master/FLAnimatedImage/FLAnimatedImage.m#L234

[2016-02-02 01:19] caughtinflux commented on #123
You could test the first 3 bytes of the image to see if they read 'g', 'i',
and 'f'

On 02-Feb-2016, at 4:27 AM, cannyboy <notifications@github.com> wrote:

Normally, I would have the luxury of just checking if the URL ended in
".gif", but unfortunately my URLs just end in a random series of
characters. So how could I test if the image is a gif before deciding
whether to use a UIImageView or a FLA

[2016-02-02 01:23] #123 closed

[2016-02-02 11:04] cannyboy commented on #123
(Posting for future reference)

I didn't understand how to implement the above suggestions, so I went with another solution.

Since FLAnimatedImageView returns nil anyway if the image is not a gif, I just check this before deciding whether to display a GIF or still image.

[code]

This is in a custom UICollectionViewCell which has a FLAnimatedImageView IBOutlet. If anyone knows a better solution,

[2016-02-02 11:38] kean commented on #123
There is an extension for FLAnimatedImageView that can display both animated and still images. Can't you just call `pin_setImageFromURL` on `FLAnimatedImageView`?

[code]

[code]

[2016-02-02 12:47] cannyboy commented on #123
@kean yes, you're right. i was making it too complicated. Here's what I do:

[code]

The `contentMode`  is there because the mode set in the xib does not seem to be followed.

[2016-02-02 13:30] caughtinflux commented on #123
For posterity, here's an example of checking the given image data:
[code]

[2016-02-10 00:15] mitchellporter commented on #118
@caughtinflux I'm experiencing memory issues as well using a UICollectionView. You recommended to 'disable predrawing'. How can I easily do that? I can't seem to find a property that controls predrawing in the latest release, unless I'm missing it.

[2016-02-10 00:20] mitchellporter commented on #115
@timonus I'm currently experiencing some memory issues with FLAnimatedImage and trying to figure out how to fix them. You mentioned customizing the preload buffer and also disabling frame predrawing.

How can I customize the preload buffer, and how can I disable frame predrawing? Really appreciate the help. FLAnimatedImage looks great onscreen in my app right now and I love using it, it's just tha

[2016-02-10 07:55] mitchellporter commented on #115
@timonus have been experiencing endless Anonymous VM growth today and  can't seem to figure it out. I stopped using the cocoapod and downloaded the current source files and was able to pass false/NO in the designate init for predrawing but that doesn't seem to help.

It looks like you had success with `Allow for customization of preload buffer (definite savings)`

How can I do this? I tried going

[2016-02-10 17:06] timonus commented on #115
Sorry for the 404, the relevant change is here: https://github.com/Flipboard/FLAnimatedImage/pull/117.

In order to use less memory I'd recommend using [this initializer](https://github.com/Flipboard/FLAnimatedImage/blob/master/FLAnimatedImage/FLAnimatedImage.h#L55) as follows:

[code]

[2016-02-10 17:06] #115 closed

[2016-02-10 17:06] timonus commented on #115
Closed, was resolved in https://github.com/Flipboard/FLAnimatedImage/pull/117.

[2016-02-11 14:30] kean commented on #115
What you are looking at is probably a **transient** memory allocations (the number of bytes created and destroyed in a given time range). The FLAnimatedImage has a buffer for image frames. This buffer stores only a limited number of frames at the same time: frame-0, current frame and some prebuffered frames that are soon going to be required for rendering. Thus, FLAnimatedImage destroys and create

[2016-02-11 20:04] mitchellporter commented on #115
@kean You are correct, my Instruments results are similar to yours. Still though, after consulting someone else on this, they mentioned that it's abnormal to have that many transient objects and that 'Rapid allocations of memory is one of the things the system will kill you for'

That being said, I'm not sure whether I can ship a stable app with this or not. As much as `Instruments` shows that thi

[2016-02-12 13:52] kean commented on #115
I don't have a proof (maybe someone could provide one?), but I think that it's quite all right to continuously alloc/dealloc relatively small portions of memory. iOS could kill your app only if you would try to allocate a huge portion of memory in a single alloc call (talking 100Mb+). That's not what happens here.

You could potentially play with `optimalFrameCacheSize` so that `FLAnimatedImage` w

[2016-02-12 15:09] kean commented on #33
I wonder whether the _delayTimesForIndexes could be computed lazily so that I could create instances of FLAnimatedImage class on the main thread.

[2016-02-12 15:34] caughtinflux commented on #33
The initialiser returns nil *after* computing the delay times if the frame count is 0. That would need to change first, I thinn

[2016-02-12 17:20] timonus commented on #33
@kean what you're talking about is an optimization I've wanted to make as well.

[2016-02-12 19:22] mitchellporter commented on #115
@kean I spoke with a developer yesterday thatripped out the caching system and replaced it with NSCache and he was able to reduce the transients count to less than 20% of what it is now. I think the current structure of the library is flawed, in that NSCache needs to be implemented instead of their custom caching.

[2016-02-13 06:50] kean commented on #115
@mitchellporter probably the best solution would be a buffer (budget) shared between images. It would cover at least two cases well:

- it would make it possible to store all the frames in memory when displaying 1 or 2 really large images
- it would prevent FLAnimatedImage from taking too much memory when displaying a lot of small images at the same time (unrealistic though based on the current se

[2016-02-13 13:08] kean commented on #115
As an afterthought, there is no need in a bigger buffer unless it can keep all the frames at the same time, or else frames would be redrawn each time anyway. Unless there is a way to store some part of the frames persistently in memory, while recreating others, but that sounds like nonsense :)

[2016-02-18 22:40] timonus opened #129 "Unable to run sample project on device"
Pointed out [here](https://github.com/Flipboard/FLAnimatedImage/pull/127), but that fix causes other build errors. Need a suitable fix for both the sim and device builds.

[2016-02-19 02:57] shoron opened #131 "logical error"
if the return value of `imageAtIndex:` method is nil. the git image will stop stop animating.

it's my test.

firstly I assume the image data has some bad data which can not be transformed to UIImage and it's index is 21(the 21 is a random number)。
so I add some code in the method `imageAtIndex:` at the beginning.
`if (index == 21) {
        return nil;
}
`

then I run the demo. I found the gif im

[2016-02-19 22:54] timonus commented on #129
Fixed here https://github.com/Flipboard/FLAnimatedImage/commit/111de7e0220d7b36341b639565e34abb9ce940bd.

[2016-02-19 22:54] #129 closed

[2016-02-24 11:31] wangjwchn opened #132 "Memory leak problem"
Hi,
Recently, I use it as a benchmark for my animate GIF engine in swift "JWAnimatedImage".But when I used it by write this in the ViewController:
    NSURL *url = [[NSBundle mainBundle] URLForResource:@"test" withExtension:@"gif"];
    NSData *data = [NSData dataWithContentsOfURL:url];
    FLAnimatedImage *image =[FLAnimatedImage animatedImageWithGIFData:data];
    FLAnimatedImageView *imageView

[2016-02-29 12:22] wsq724439564 commented on #118
FLAnimatedImage *image =[[FLAnimatedImage alloc] initWithAnimatedGIFData:u optimalFrameCacheSize:0 predrawingEnabled:NO];

it does not work, the memory always arising!!!

[2016-03-03 21:44] joeledwin commented on #132
I noticed this issue as well, the memory rises indefinitely in Xcode. Are there plans to address the memory leak and/or caching problem?

Thanks!

[2016-03-03 21:52] caughtinflux commented on #132
What gif are you using to test this out? test.gif?

[2016-03-03 22:02] joeledwin commented on #132
I'm using NSData coming from a server

[2016-03-03 22:09] kean commented on #132
It would be nice if you could do some extra research before rolling out your own solution :)

It's pretty clear that the only thing that grows is Instruments-related data from `libBacktraceRecording.dylib`:

![screen shot 2016-03-04 at 01 03 17](https://cloud.githubusercontent.com/assets/1567433/13511203/55b3ad26-e1a5-11e5-88f5-63d6af0cc134.png)

The reason it "leaks" (not really, it just stores r

[2016-03-22 22:40] tracerstevens opened #134 "Adding tag capability"
Being able to assign a tag to FLAnimatedImage would be really helpful

[2016-03-25 01:14] tracerstevens opened #135 "Is there a method to retrieve the number of loops the gif has made?"
Is there a method to retrieve the number of loops the gif has made?

[2016-03-27 07:06] gkye commented on #99
I'm currently facing the same issue. The `UIImageView` within storyboard is set to `FLAnimatedImageView` and class is set to `FLAnimatedImageView` but I receive the same error as stated above.

[2016-03-30 02:02] jschwab923 opened #137 "Frame skips on iPad Pro"
When using FLAnimatedImage with FLTAnimatedImageView on an iPad Pro, not all of the frame form the .gif file appear. Using the same .gif file this does not occur on an iPhone or on an iPad Air (original). After calling stopAnimating, and then calling startAnimating, the frames skipped appear to change.

[2016-03-30 03:34] jschwab923 commented on #137
For anyone who needs a fix now, I fixed it with the below code.

[code]

[2016-04-03 16:26] itaydressler commented on #5
Supporting webp would be awesome.

[2016-04-20 09:47] andrey-lisovskiy opened #139 "Do not animate GIF"
How can I prevent gif from animating?

[2016-04-20 12:53] eliburke commented on #139
This is a straight up cut-and-paste from the FLAnimatedImage.h header file:

[2016-04-28 01:11] mitchellporter commented on #91
@raphaelschaad Tried following that link but it 404's. Mind explaining again how to get the gif duration / playing time?

[2016-04-28 12:18] eliburke commented on #91
@mitchellporter Take a look at the link text.. it just points to an older version of the header file for the library.

Looking at the header, my guess is you need to do something with
`@property (nonatomic, strong, readonly) NSDictionary *delayTimesForIndexes; // Of type `NSTimeInterval` boxed in NSNumbers`

[2016-05-14 13:26] dhoerlSB commented on #137
You may have the same issue I have (testing with a GIF that has a slow frame to frame change time) on an iPad Pro. The fix I found is:

- (void)displayDidRefresh:(CADisplayLink *)displayLink
...
            self.accumulator += displayLink.duration; //  * displayLink.frameInterval;

That is, the frameInterval has already been accounted for, by multiplying it back I get skips all over the place.

[2016-05-14 13:29] dhoerlSB opened #141 "For GIFs where the displayLink.frameInterval > 1, frames get skipped"
The root problem is that the frameInterval is already accounted for. When the GIF is not progressing frames at a high rate, the displayLink.frameInterval; is > 1. However, the time intervals are already accounting for this, so when the value is used as a multiplier it appears the refresh rate is too slow, and frames get skipped.

The fix is to comment out (well, remove) the "* displayLink.frameInt

[2016-05-14 14:30] gabzsa commented on #137
Since iPad pro has variable refresh rate, 30Hz or 60Hz depending on type of content shown,

`NSTimeInterval kDisplayRefreshRate = 60.0; // 60Hz `

This line is not true anymore.

What I ended up doing is:

`self.displayLink.frameInterval = 2;`

Instead of:

`self.displayLink.frameInterval = MAX([self frameDelayGreatestCommonDivisor] * kDisplayRefreshRate, 1);`

[2016-05-14 14:34] dhoerlSB commented on #137
OK - so maybe this is the problem I'm getting on my iPad Pro (9"). There must be some way to request the actual display rate in effect. Note that for slowly changing GIFs, the calculated frame interval might be "9" (it is in my case, flip chart style GIF. I'll dig a bit further...
Thanks for your response!!!

[2016-05-16 14:30] dhoerlSB commented on #137
So this just keeps getting murkier. Note that the behavior isn't just the larger iPad Pro - its happening on the smaller one too!

I added a log message to - (void)displayDidRefresh:(CADisplayLink *)displayLink, and guess what - the value changes over time! In my case, the frameInterval is set to 9 or so - slow changing GIF.

Add this to log message and see if it changes for you (in my case, it wa

[2016-05-16 14:31] dhoerlSB commented on #141
This is the same issue as "Frame skips on iPad Pro #137"

[2016-05-16 14:31] #141 closed

[2016-05-17 00:14] matrush commented on #100
This issue still exists, any clue why it's closed?

[2016-05-18 13:58] x1024 commented on #83
I would second making the loop count and delay times writable. I tried several different methods to make a gif not loop. It works in a browser, but not in FLAnimatedImage.
I'm not placing any blame in FLAnimatedImage, because GIF is perhaps a more complex standard than is reasonable.

But it would save a great deal of hair-pulling if I could just set an integer property, instead of wrestling with

[2016-05-24 10:13] qskycolor opened #142 "How to set the loopCount of FLAnimatedImage equal to 1"
the property loopCount of FLAnimatedImage is readonly, but I want to change the value, HOW ?
thank you!

[2016-06-13 11:46] dalu93 commented on #83
+1

[2016-06-14 16:07] Pranoy1c opened #144 "ios10 breaks it? gifs running super fast speed"
i am testing this on iOS10 beta released yesterday and gifs are running extremely fast. any clues why? this worked prior to iOS 10

[2016-06-14 16:55] caughtinflux commented on #144
Working fine here. What device are you running on? I've checked on an
iPhone 6s.

Aditya KD
http://caughtinflux.com

On 14-Jun-2016, at 9:37 PM, Pran <notifications@github.com> wrote:

i am testing this on iOS10 beta released yesterday and gifs are running
extremely fast. any clues why? this worked prior to iOS 10

—
You are receiving this because you are subscribed to this thread.
Reply to this e

[2016-06-14 17:17] Pranoy1c commented on #144
i tested it on 6s as well. I tested in 2 apps and both had this issue 😕

[2016-06-17 20:35] davbeck opened #145 "Include prebuilt framework in releases"
If a library includes a pre-built framework with their release in Github, Carthage will download that instead of building the framework every time. Additionally, some apps may want to just download the framework directly and include it in their project directly.

See https://github.com/Carthage/Carthage#archive-prebuilt-frameworks-into-one-zip-file.

[2016-06-21 12:43] acudworth commented on #144
Having this problem too - iPhone 6 on iOS 10 beta 1. A lot of GIFs playing fast & weird artefacts appearing (like 2 frames displayed at same time).

[2016-06-22 05:38] fanmaoyu0871 opened #146 "cpu rate too high"
when i use the library to load a gif, i found cpu arrived 100%.can tell me why?

[2016-06-23 16:14] mikengyn commented on #144
I've encountered this as well on the IOS10 beta

[2016-06-23 16:27] dhoerl commented on #144
Almost for sure this is related to the CADisplayLink not honoring the selected options (duration, frame interval). I added a variable and logged the time since the last callback, and it toggled between the expected value and 2x the value. This project assumes that CADisplayLink does what it is suppose to, so in the end it thinks it assumes it did something wrong and skips frames. I could see it cl

[2016-06-27 17:31] whydna opened #148 "Will this work for OSX?"

[2016-07-05 07:25] iziz opened #149 "Too slow to animation."
With this GIF, It will animating very slow to play. Could you give me some idea to play normally ?

![120frame](https://cloud.githubusercontent.com/assets/318647/16576786/576d8be0-42cc-11e6-8365-74a88bba8163.gif)

[2016-07-05 09:23] YuraRokolabs commented on #142
hi. I use FLAnimatedImageView.loopCompletionBlock.
//sample
cell.animatedImageView.loopCompletionBlock = {loopCount in
            cell.animatedImageView.stopAnimating()
        }

[2016-07-05 09:27] YuraRokolabs commented on #135
Hi. u can use FLAnimatedImageView.loopCompletionBlock to solve your problem

[2016-07-13 06:53] 6david9 commented on #144
I think the reason of this is apple has changed the implementation of CADisplayLink in SDK Version 10.

on sdk version 9.3 the dispalyLink.duration is alwary equal to 1.0/60.0 (0.016667) and the actual duration between each callback is `displayLink.duration * displayLink.frameInterval`

but on sdk version 10, the displayLink.duration value is changed to ｀1.0/60 * frameInterval｀.

the result of thi

[2016-07-13 07:01] 6david9 commented on #144
I think the solution of this bug is:
when getting the duration between each frame,  just return`displayLink.duration` on ios 10, and return  `diplayLink.duration * displayLink.frameInterval`  before ios 10

[2016-07-14 07:47] 6david9 commented on #146
Do you have many FLAnimatedImageView are playing?

[2016-07-14 20:00] murilonkz opened #152 "stopAnimating doesn't work"
Hello,

I need a static image gif that I can startAnimating when user taps on button.

I'm doing this:

`NSString *imagePath1 = [[NSBundle mainBundle] pathForResource:@"tr1_ex01" ofType:@"gif"];
FLAnimatedImage *image = [FLAnimatedImage animatedImageWithGIFData:[NSData dataWithContentsOfFile:imagePath1 options:NSDataReadingUncached error:&error]];
[_imgExerciseBig setAnimatedImage:image];
[_imgExe

[2016-08-05 17:03] GhostRussia commented on #19
I made a version for Xamarin.
https://github.com/GhostRussia/FLAnimatedImageXamarin

[2016-08-15 12:06] niteshtak opened #153 "Gif Image keep changing when Scroll"
When I am trying to add image to collection view the gif Images are keep changing if i scroll.
Please provide a solution to that. I use reusable cell.

[code]

[2016-08-15 12:07] niteshtak opened #154 "Gif Image keep changing when Scroll"
When I am trying to add image to collection view the gif Images are keep changing if i scroll.
Please provide a solution to that. I use reusable cell.

[code]

[2016-08-15 12:25] #153 closed

[2016-08-22 11:15] coverback commented on #144
This seems to be fixed in latest betas (as of iOS 10b6 for sure), so can probably be closed again.

[2016-08-24 07:32] dongyu430 opened #156 "repeat one times gif, infinite loop"
http://ww3.sinaimg.cn/mw1024/685b99a9gw1f0dbnnt07eg2053051mx5.gif
repeat one times gif , to play in brower is correctly.
use FLAnimatedImage to play this gif,  loopcount = 0,  infinite  loop

[2016-09-07 22:27] DClark5218 opened #157 "Image not animating in linearly, slows down at end."
Hey guys,

I'm using this in a project that's ported through to React Native. Trying to track down the problems, but am seeing a really strange behavior. Out of a gif with 70 frames, the gif plays smoothly until it reaches the 40th frame or so, and then starts to decay and slow down until it barely makes the 70th frame.

It almost looks like a wave. But not the good! Anyone else come across this p

[2016-09-08 06:12] tsukisa commented on #154
@niteshtak
You probably want to cancel image data request when the cell is reused, or check the cell has not been reused when the image data is loaded. Because responseData is asynchronous callback, your collection view cell might already been reused the moment your image data is fully downloaded.

One solution is to store the url value as a property; and check if the url has changed since last re

[2016-09-08 17:36] kleiberjp commented on #144
it still occurs on ios10 beta 6, gif animation is running fast

[2016-09-13 09:22] vivekzwt commented on #157
Facing same issue...at the end it slow down animation

[2016-09-26 13:33] dharmendrajadav opened #158 "How to use "loopCompletionBlock" in Swift 3.0"
Hello,

I have successfully integrated "FLAnimatedImage" Objective-C code to my application. I want to display a gif image as a splash screen. So the objective is image should animated for one time only and then the main view controller should open.

The image is animated perfectly now but it is in loop. It is animating in infinite loop. I have tried to change loopCount property by 1 and the image

[2016-09-26 13:38] dharmendrajadav commented on #83
@dalu93  How to use **loopCompletionBlock** in swift 3?

[2016-09-26 13:38] dharmendrajadav commented on #142
@YuraRokolabs How to use **loopCompletionBlock** in swift 3?

[2016-09-26 13:43] kean commented on #158
Hey, tried this?

[code]

[2016-09-26 13:47] kean commented on #132
Shouldn't we close this? There aren't any leaks AFAIU.

[2016-09-27 06:36] dharmendrajadav commented on #158
Thanks for the replay Kean and it worked for me. Thank you once again..!!

[2016-09-27 06:36] #158 closed

[2016-09-28 20:15] bliang commented on #64
Pinging this thread.

Could this also be implemented to support iMessage? :P

[2016-09-30 17:28] Imperiopolis commented on #98
Is this project still being maintained?

I'd love to see this fix get merged into a release as I'm encountering similar issues with a larger gif and the changes on the `dynamic-memory-category` branch pulled onto master fix it right up.

[2016-10-13 20:03] antrix1989 commented on #132
I've noticed memory leaking for the following gif
![75b6119f-4a3e-41ec-817a-091001b10acb](https://cloud.githubusercontent.com/assets/1989385/19364976/604eadda-9145-11e6-86c6-1c1f6848b556.gif)

[2016-10-21 16:37] labSacra opened #159 "Ocasional crashs on iOS 9 and 10"
Hey guys,

I'm using this lib on a project of mine and I'm having ocasional crashs on iOS 9 and 10.
The stack trace:

Crashed: com.flipboard.framecachingqueue
EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x000000010d07c000

0  libsystem_platform.dylib       0x18b51ee60 _platform_memmove + 96
1  ImageIO                        0x18e2d9a6c GIFReadPlugin::copyImageBlockSet(InfoRec*, CGImageProvider*, CGRect, C

[2016-10-25 02:26] wangbourne opened #160 "is there a flag to disable auto play gif by default?"
Currently, it seems that as long as I set the property of "animatedImage", the gif will automatically play when the view(holding the gif) is coming to foreground.
Is there a flag to disable auto play gif by default? so I can more flexibly control play/stop gif function.

[2016-10-28 09:04] DuongQuangLoc commented on #83
@dalu93
In swift 3
self.imageView.loopCompletionBlock = { (uint: UInt) -> Void in
// unit is the loop time of image.
            self.imageView.stopAnimating()
        }

[2016-10-31 14:29] novinfard opened #161 "gif is slow than original one"
Hello,

The gif plays slow than real one in iOS 10:

![loader](https://cloud.githubusercontent.com/assets/611607/19857653/b7107d4a-9f93-11e6-9e15-6c238a0814e2.gif)

what's the problem and how could I solve it?

[2016-11-01 00:18] Alserk opened #162 "iOS 10 crashes in FLAnimatedImage.m line 707"
Hey,
we detected a lots of crashes on iOS 10
<img width="1215" alt="screen shot 2016-11-01 at 10 14 51 am" src="https://cloud.githubusercontent.com/assets/1610475/19875883/6a56b198-a01c-11e6-8f60-87613ce7b2e1.png">

[2016-11-01 14:43] skyline75489 opened #163 "Is this project still maintained?"

[2016-11-01 15:10] kean commented on #163
The last commit in `master` was made 8 month ago which seems self-explanatory.

[2016-11-02 01:46] skyline75489 commented on #163
So the answer is "yes"?...

JK . If Flipboard doesn't use this any more, it could just hand it over to community maintainers.

[2016-11-02 06:45] raphaelschaad commented on #163
Flipboard is still using it AFAIK. What are the most important things the community would do?

[2016-11-02 16:40] knagle commented on #161
Remove the following line 299 from FLAnimatedImageView.m and the 3 lines above it:

`self.displayLink.frameInterval = MAX([self frameDelayGreatestCommonDivisor] * kDisplayRefreshRate, 1);`

Then change line 385 from:
`self.accumulator += displayLink.duration * displayLink.frameInterval;`
to
`self.accumulator += displayLink.duration;`

And change line 412 from:
`[self.debug_delegate debug_animatedI

[2016-11-04 02:01] yxztj commented on #159
The same here. Very rare(<0.1%) and hard to repro, but it's happening everyday in our production.

[2016-11-05 10:02] novinfard commented on #161
@knagle thanks for your answer, but the problem hasn't been solved yet

[2016-11-07 02:54] guxiaojie opened #164 "Got lots of crash everyday."
0x00366403:     TAG_subprogram [191] *
                 AT_low_pc( 0x00000001003fb738 )
                 AT_high_pc( 0x00000001003fb800 )
                 AT_frame_base( reg29 )
                 AT_object_pointer( {0x00366428} )
                 AT_name( "-[FLAnimatedImage imageAtIndex:]" )
                 AT_decl_file( "/Users/hongliang/Documents/phoenix/Wonderfull/Pods/FLAnimatedImage/FLAnimate

[2016-11-09 06:21] guxiaojie commented on #163
crashes a lot recently .

[2016-11-10 03:36] raphaelschaad commented on #163
What device/OS combination? Do you have crash logs? A particular GIF that creates a repro?

[2016-11-10 12:38] kpavankotesh commented on #161
Hey I am also facing this issue. Did anyone solve this?

[2016-11-20 01:43] ramrcram commented on #149
Hello,
I am also facing the same issue, any update on this ?

Thanks in advance.

[2016-11-22 18:18] seanw4 opened #165 "CADisplayLink Property Deprecation"
`CADisplayLink` property `frameInterval` is deprecated in iOS 10. Use `preferredFramesPerSecond` instead.

[2016-11-26 12:34] mivbeard commented on #161
@novinfard @kpavankotesh I had the same issue when testing app on Simulator. When I executed it on real device, GIF animation work fine. You can run test (on simulator & real device) to check `displayLink` properties:
https://github.com/6david9/CADisplayLinkTest

[2016-11-30 02:39] etund opened #166 "CGContextDrawImage consumes a lot of memory, often leading to crash."
CGContextDrawImage consumes a lot of memory, often leading to crash.it is recommended to consider a  new set of decoding library.

[2016-12-06 03:09] 577528249 opened #168 "why the method dealloc in FLAnimatedImage.m does not have remove the obeserver"
Now the code is:
- (void)dealloc
{
    if (_weakProxy) {
        [NSObject cancelPreviousPerformRequestsWithTarget:_weakProxy];
    }

    if (_imageSource) {
        CFRelease(_imageSource);
    }
}

I think it should be this :
- (void)dealloc
{
    [[NSNotificationCenter defaultCenter] removeObserver:self];
    if (_weakProxy) {
        [NSObject cancelPreviousPerformRequestsWithTarget:_weakProx

[2016-12-09 22:18] geek-paulwong commented on #164
Use https://github.com/ibireme/YYWebImage it works great for me on GIF loading!!

[2016-12-09 22:18] geek-paulwong commented on #144
Use https://github.com/ibireme/YYWebImage it works great for me on GIF loading!!

[2016-12-09 22:18] geek-paulwong commented on #166
Use https://github.com/ibireme/YYWebImage it works great for me on GIF loading!!

[2016-12-09 22:19] geek-paulwong commented on #162
Use https://github.com/ibireme/YYWebImage it works great for me on GIF loading!!

[2016-12-09 22:19] geek-paulwong commented on #159
Use https://github.com/ibireme/YYWebImage it works great for me on GIF loading!!

[2016-12-23 02:52] imnak0 commented on #162
I also have exactly same issue.
it crashes so frequently only on iOS 10

[2016-12-23 07:54] imnak0 commented on #162
I added the FLAnimatedImageView in the UICollectionVIewCell, and clear imageView by setting animatedImage to nil, and UIImageView's image to nil on the UICollectionViewCell's prepareForReuse.
Any advice?

[2016-12-25 18:42] mrazam110 commented on #144
I am still getting this issue.
Fixed or not?

[2017-01-03 12:58] patelmm opened #170 "share gif image"
How can i share gif image using UIActivityViewController ?

Thanks in advance.

[2017-01-06 03:36] ppyupp opened #171 "'frameInterval' is deprecated"
FLAnimatedImageView.m:299:26: 'frameInterval' is deprecated: first deprecated in iOS 10.0 - use preferredFramesPerSecond

0_0

[2017-01-06 20:58] master-nevi commented on #159
Suggesting another library is not a solution to this problem. Bad form.

[2017-01-10 13:09] hfossli commented on #163
Well a number of unmanaged pull requests isn't looking good. Some dates back to 2015 just hanging in the air.

[2017-01-12 16:42] geek-paulwong commented on #159
@master-nevi agree... except that this FLAnimatedImage is no longer actively maintained... and YYWebImage works perfectly, lol.

[2017-01-20 13:45] laeroah commented on #162
I have this issue too

[2017-02-10 03:54] YI-- opened #173 "'frameInterval' is deprecated"
FLAnimatedImageView.m:299:26: 'frameInterval' is deprecated: first deprecated in iOS 10.0 - use preferredFramesPerSecond

[2017-02-13 16:17] pdpraful commented on #52
[code]

The above code did a trick for me.

[2017-02-13 21:47] mxcl commented on #173
Dupes #171, though the maintainers of this project seem absent for months now. I recommend a different pod.

[2017-02-13 21:49] mxcl commented on #163
I'm using [YYWebImage] instead, it works well, but it isn’t as modular as I'd like, eg. it requires a strict dependency on a caching library.

[YYWebImage]: https://github.com/ibireme/YYWebImage

[2017-03-16 09:37] santhoshs5 opened #175 "Can i Use FLAnimatedImage for non gif files."
I have a collection view with gif and non gifs with URLs needs to be downloaded.

Could you any body tell me how effectively design so that FLANimaatedworks for all images(gifs or normal images)

[2017-03-31 04:39] tepmnthar opened #176 "change tintColor not render changes immediately"
I set flAnimatedImageView.image an alwaysTemplated rendered image. Then I change the tintColor of flAnimatedImageView which sometimes doesn't render in correct color (on main thread). But if I switch to UIImageView, it works.

I tried to write a sample project, but just can't reproduce the issue. Maybe it only get wrong with UICollectionView.

Some images:
[image1](https://i.stack.imgur.com/awFU7.

[2017-03-31 08:11] tepmnthar commented on #176
Find something.
[code]

If I change `[self.layer setNeedsDisplay]` to `[self setNeedsDisplay]`, tintColor will be rendered correctly. But still don't know why.

[2017-03-31 09:12] tepmnthar commented on #176
[sample code](https://github.com/tepmnthar/FLAnimatedImageViewBug)

[2017-04-26 14:03] rachurikk opened #178 "cellreuse issue in flanimatedimage"
In flanimatedimageview upon scrolling animated image is swapping in a uitableview. Any ideas to fix.

[2017-04-26 15:58] griesmey commented on #178
I have access to all of the code for FLAnimatedImage and I don't work at
Flipboard anymore.  Take me off the list or I will hold this ransom (not
really).

Rob

On Wed, Apr 26, 2017 at 7:03 AM, rachurikk <notifications@github.com> wrote:

--
Thanks,
Robert Griesmeyer

[2017-04-26 21:00] timonus commented on #178
@griesmey it's open source. Everybody has access to the source. You can unwatch/unstar at the top of GitHub.

<img width="453" alt="screen shot 2017-04-26 at 2 00 03 pm" src="https://cloud.githubusercontent.com/assets/522951/25456768/b4496948-2a88-11e7-8227-c52aaa5b54ff.png">

[2017-04-27 00:44] griesmey commented on #178
Thanks for the info Tim. I'll unwatch.

On Wed, Apr 26, 2017 at 2:00 PM, Tim Johnsen <notifications@github.com>
wrote:

--
Thanks,
Robert Griesmeyer

[2017-04-27 10:41] pdpraful opened #179 "Gif play is slow, when the duration is more than 5 second"
I am using this library to play gifs when the duration of gifs is more than 6 seconds. The animation play is delayed to 10 seconds of overhead. I am getting a frame rate of 60FPS from GPU. But, the CPU is high @ >70%.
![screen shot 2017-04-26 at 8 54 47 pm](https://cloud.githubusercontent.com/assets/10755692/25479882/19dfe530-2b64-11e7-97d3-352d54e4fe66.png)

[2017-05-14 13:47] younatics commented on #53
+1

[2017-05-20 16:29] superdev89 opened #181 "Sometimes FLAnimatedImageView shows gif file rotated."
Is there any orientation option?

[2017-05-22 09:55] qdequele commented on #181
same issue

[2017-05-22 17:59] qdequele commented on #181
I have solved the issue by doing the load async.

[2017-06-13 12:28] Silence-GitHub opened #182 "Fill with opaque color"
Displaying large GIF with clear background color may lead to performance problem. Could you please add a option to draw the image on an opaque color? In this way, the GIF is opaque and no blending for transparent color will occur.

[2017-06-13 12:45] zhangao0086 commented on #181
same issue

[2017-06-13 14:24] qdequele commented on #181
when I use `self.pictureView.sd_setImage(with: URL(string:stringURL), placeholderImage: nil, options: SDWebImageOptions.progressiveDownload)` it's working for me

[2017-06-27 02:45] zenghaojim33 commented on #156
any solution?

[2017-07-05 14:19] leetmorry commented on #161
I am also facing the same issue on the real device.

[2017-07-12 16:30] Allansk2 opened #183 "Memory issue"
I tried with this image https://38.media.tumblr.com/a123606e52db443841a6bb982d93febe/tumblr_n7a40sXB7P1r2geqjo1_r1_500.gif
but the memory keep increasing, though it's not memory release when I dismiss viewcontroller.

![screen shot 2017-07-12 at 10 25 05 am](https://user-images.githubusercontent.com/6540316/28128389-cfa7593e-66ec-11e7-9635-7a9c392edb98.png)

[2017-07-13 10:00] kyam915 commented on #179
I solved it by using UIWebView.

[code]

[2017-07-22 15:47] xavierXing opened #184 "Why am I using this library and not globally referencing in swift"
I use the library, in a swift, I established a define in the swift file, the file as the PCH files to use OC, but when I define file to import trendy, but found no do to the global import library, is this why?

[2017-07-25 07:09] bawn commented on #161
+1

[2017-07-27 15:52] yaronalk commented on #170
You share an NSURL object that contains the gif's URL.

[2017-08-12 12:42] pkarthikr opened #185 "GIF plays out of order on certain devices"
I have been using FLAnimatedImage for displaying GIFs in a tableview / collection view and on certain devices - it does not load in order.

For reference here is the GIF - https://trello-attachments.s3.amazonaws.com/5751f9602f6c27eff8d0654a/5974b9f795123c84bb04a20d/e1b21ee5bbbe52544a27a56e742dd246/gif_2519014793146199828.gif

As you can see - the GIF is a GIF of number from 1-13. What happens is o

[2017-08-15 06:33] Jack-Rain commented on #149
I am also  facing the same issue, anybody have got a solution?

[2017-08-22 06:08] seanLee commented on #183
It seems that we have met the same problem.

[2017-08-24 09:47] unkosun commented on #162
I have this issue too

[2017-10-05 05:45] lmw4051 opened #188 "Does this support stop animating when app enters to background?"

[2017-10-20 17:31] afanslau opened #190 "Automatic startAnimating causes request timeouts"
I'm using FLAnimatedImageView in conjunction with SDWebImage, and when loading many gifs in a collection view, it starts downloading asynchronously, but only the first few images load successfully. I've verified that loading the images individually is fast, as well as when using non-animated images.

The issue seems to be related to FLAnimatedImageView automatically starting animating when the ani

[2017-10-24 12:57] Adrift001 commented on #183
me too.🙂 2.9M gif,but memory is 107M. Why?

[2017-10-25 13:03] dreampiggy commented on #175
The answer is YES. :) Use https://github.com/rs/SDWebImage and it support GIF subspec which use the FLAnimatedImage. You just need install and import that `FLAnimatedImageView+WebCahche` to start load GIF and all other supported image format with the same interface as others.

[2017-10-30 03:51] flybrotherlixiang commented on #159
Same crash here.

[2017-11-15 12:36] lhfqs86 commented on #161
+1

[2017-11-22 07:58] GGGHub commented on #162
I have this issue too this is crash thread backtrace
`+[FLAnimatedImage predrawnImageFromImage:] + 4202460 (FLAnimatedImage.m:707)
-[FLAnimatedImage imageAtIndex:] + 4199684 (FLAnimatedImage.m:0)
-[FLAnimatedImage addFrameIndexesToCache:]_block_invoke_3 + 4198488 (FLAnimatedImage.m:0)
__42-[FLAnimatedImage addFrameIndexesToCache:]_block_invoke_2 + 4198276 (FLAnimatedImage.m:481)`

[2017-11-28 09:10] atom2ueki commented on #5
try [YYWebImage](https://github.com/ibireme/YYWebImage) if you need webp support

[2017-11-29 18:31] yiplee commented on #118
UICollectionView just hide the cell when the cell is not visible or deleted from UICollectionView.
This will keep ```FLAnimatedImageView``` running as nothing changed on it.
Override your custom collectionViewCell's ```- setHidden:``` and hide ```FLAnimatedImageView``` also to avoid this problem.

[2017-12-04 15:22] picturehit commented on #98
awesome !

[2017-12-06 22:38] icyKira commented on #161
+1

[2017-12-11 11:16] MMSApps opened #194 "How to change the speed of the playing gif?"
Is it possible to change the speed of the gif?
Thanks

[2018-01-08 16:25] lemarian opened #199 "Is there a way to calculate the total duration a gif plays?"

[2018-01-16 05:17] jiangyuan0336 opened #200 "播放速度问题"
使用这个库会导致GiF播放速度变慢，超级缓慢！比如说GiF图执行一次动画时间需要3秒，使用你这个库执行一次需要5-6秒左右。
希望你们能解决这个问题！
谢谢！

[2018-01-25 06:28] lhfqs86 commented on #161
+1 I am alse facing the same issue on the raal device!

[2018-01-30 16:25] Ankish opened #202 "Certain gifs play really slow."
https://s-media-cache-ak0.pinimg.com/originals/4e/50/06/4e500657d2273140e77b0bb807bc342c.gif

These gifs play really slow. Tried checking in flipboard and other apps. Works fine there.
I am using this in 40x40 Imageview.

[2018-02-01 03:27] DevDragonLi commented on #160
你可以看下,头文件,设置 postimage 就是静态第一帧

[2018-03-01 01:50] zkhCreator opened #204 "podspec version is obsolete"
The last tag is 1.0.14, but the version on cocoapods is still 1.0.12. Please update cocoapods. Thanks

[2018-03-02 05:23] apprisingapps commented on #157
any solution?

[2018-03-02 07:30] destinyxxl opened #205 "How to pause and resume gif ？ thanks"

[2018-03-04 23:20] apprisingapps commented on #142
swift 3 example from my code

  self.checkMarkGif.loopCompletionBlock =
 {_ in
                        self.checkMarkGif.stopAnimating()
   }

[2018-04-02 13:00] VenkateshMahi commented on #144
Are you facing the same in Xcode 9.3?

[2018-04-06 15:37] dataxpress commented on #175
Thank you, I had the same question! :+!:

[2018-04-19 12:57] iamluckykim opened #207 "iOS 11.3 FLAnimatedImage animatedImageWithGIFData issue"
Hi!

First of all thanks for this library!
After iOS 11.3 update I ran into performance problem. When I'm invoke [FLAnimatedImage animatedImageWithGIFData:data] method on iOS 11.3, it works much slower rather than on iOS 11.2. I'm using dispatch_get_global_queue(DISPATCH_QUEUE_PRIORITY_LOW, 0).

Here's an example project:
https://github.com/iamluckykim/FLAnimatedImagesTest

NSLog from iOS 11.2:
ht

[2018-04-21 20:58] #165 closed

[2018-04-28 14:31] toastrr opened #208 "My GIF is too big since changing to different GIF."
Everything was working fine before I replace my GIF file with a higher-quality one. I didn't do anything to the code but now it's huge and I can't get it to work with Glimpse.

[2018-05-03 02:55] liuyongjiesail commented on #161
+1 有人解决了吗

[2018-05-04 21:32] kerbelda opened #209 "Can't get array of images (frames)"
Is there a way to access the array of images that make up the gif?

[2018-05-11 13:50] appasaheb4 commented on #158
Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional values

[2018-05-16 00:32] ryango commented on #207
Seeing this as well. Any luck?

[2018-05-16 07:33] iamluckykim commented on #207
Unfortunately I don't solve this problem yet

[2018-05-17 08:08] AbhijeetGajjar96 opened #210 "In tableView Cell Create FLAnimatedImage But When scroll at time show error"
"[framework] CUICatalog: Invalid asset name supplied: ''"

 i

[2018-05-22 17:22] JosephNK commented on #204
The version is still 1.0.12. :(

Please Update~!

[2018-07-05 10:12] szweee commented on #161
+1

[2018-07-06 16:58] #118 closed

[2018-07-12 06:36] amberkatyal opened #211 "Gif does'nt play completely and restarts from again."
The gif is working fine i checked on my mac. On device the first time it completes and on second time it stops in between and restarts. It happens after every second time gif plays.
Is there a property or something else?
[code]

[2018-07-19 15:05] okvv commented on #161
same over here...
simulator + real device play GIF slow.
GIF works fine on desktop and android
(tried the above-mentioned solutions)

[2018-07-20 03:11] running2011 commented on #207
https://github.com/Flipboard/FLAnimatedImage/tree/dynamic-memory-category,try use this branch

[2018-07-20 03:17] running2011 commented on #200
https://github.com/Flipboard/FLAnimatedImage/tree/dynamic-memory-category
用这个分支

[2018-07-22 23:34] okvv commented on #161
![gif](https://user-images.githubusercontent.com/24977978/43051327-f143af8c-8e20-11e8-97be-b6e932823a1e.gif)

[2018-07-25 06:25] jiutianhuanpei opened #214 "用cocoapods安装不了"
cocoapods 版本：1.2.0
FLAnimatedImage tag：1.0.12

使用cocoapods安装的时候报错如下：

![](https://ws2.sinaimg.cn/large/006tNc79gy1ftm38rpo2rj30ts0fy0xr.jpg)

[2018-08-09 11:26] avivInmanage commented on #205
// setup
 NSString *strImageUrlGif = urlPath;
        NSURL *ImageUrlGif = [NSURL URLWithString:strImageUrlGif];
        FLAnimatedImage *imageGif = [FLAnimatedImage animatedImageWithGIFData:[NSData dataWithContentsOfURL:ImageUrlGif]];

        [imgGif setAnimatedImage:imageGif];
        [imgGif stopAnimating];

//running gif once
 [imgGif startAnimating];
    [imgGif setLoopCompletionBlock:^(NSUI

[2018-08-09 11:28] avivInmanage commented on #156
// setup
NSString *strImageUrlGif = urlPath;
NSURL *ImageUrlGif = [NSURL URLWithString:strImageUrlGif];
FLAnimatedImage *imageGif = [FLAnimatedImage animatedImageWithGIFData:[NSData dataWithContentsOfURL:ImageUrlGif]];

    [imgGif setAnimatedImage:imageGif];
    [imgGif stopAnimating];
//running gif once
[imgGif startAnimating];
[imgGif setLoopCompletionBlock:^(NSUInteger loopCountRemaining) {
[i

[2018-08-09 11:30] avivInmanage commented on #152
i've got the very same issue in collectionView i use setAnimatedImage and then i execute stopanimating .
and the problem is that on collection first load it doesnt show me my gif

[2018-08-16 04:14] N7Alpha commented on #179
You'll also probably want to set this on the web view, so the gif is contained within the bounds of the view.

`webView.scalesPageToFit = true`

[2018-08-24 00:10] JFrizzo opened #216 "Latest 1.0.13 and 1.0.14 version tags need to have their .podspec files registered in https://github.com/CocoaPods/Specs.git"
Hey, I just noticed that using the Podfile syntax `~> 1.0.0` resulted in 1.0.12 being pulled in, instead of 1.0.14 which is the latest version. Using the syntax `1.0.14` or `1.0.13` fails as well. I looked into it and it seems like you just need to add the .podspec files for each version to: https://github.com/CocoaPods/Specs.git

Here's the path to your repository reference in the specs repo:
htt

[2018-09-01 07:13] mmdock opened #217 "UITableView / UICollectionView gifs not"
Gifs that appear in TableViews or CollectionViews stop animating when I scroll past them and then scroll back to them.

I tried calling 'startAnimating' in tableView(_:willDisplay:forRowAt:) but there is no success there.

I am using the following sub class of FLAnimatedImage (that was created by someone else): https://gist.github.com/mmdock/523afcc5129f9191f0fcd86b68fcb453

how do I ensure that m

[2018-11-14 04:04] Mrshang110 opened #219 "crash in +[FLAnimatedImage predrawnImageFromImage:] on iOS 10"
libsystem_platform.dylib    0x1806ffe6c    __platform_memmove + 108
ImageIO    0x1834bb000    GIFReadPlugin::copyImageBlockSet(InfoRec*, CGImageProvider*, CGRect, CGSize, __CFDictionary const*) + 796
ImageIO    0x1834bb000    GIFReadPlugin::copyImageBlockSet(InfoRec*, CGImageProvider*, CGRect, CGSize, __CFDictionary const*) + 796
ImageIO    0x1834ba6ac    GIFReadPlugin::CopyImageBlockSetProc(void*

[2018-11-29 08:22] kanshaoting commented on #219
Seeing this as well. Any luck?

[2019-01-10 13:04] gerald8 commented on #219
http://www.openradar.me/30196911#ag9zfm9wZW5yYWRhci1ocmRyFAsSB0NvbW1lbnQYgICAqIqs6ggM

[2019-01-15 12:57] iPhoneNoobDeveloper opened #220 "Loading GIF in UICollectionView"
I am loading GIFs in my horizontal UICollectionView. While scrolling UICollectionView, one cell's GIF exchange with another cell and then show's updated new GIF.

[2019-01-21 09:15] w99wen123dff commented on #220
be careful of the cell reuse. if the gif is downloaded from web.

[2019-01-25 13:44] iPhoneNoobDeveloper commented on #220
I have successfully implemented FLAnimatedImageView with caching using "<SDWebImage/FLAnimatedImageView+WebCache.h>". But it slows down the GIF speed in case of different 10 instance of GIF urls.

    collectionCell.flaAnimatedImageView.sd_predrawingEnabled = FALSE;
    [collectionCell.flaAnimatedImageView sd_setImageWithURL:[NSURL URLWithString:imageUrlString] placeholderImage:[UIImage imageNamed

[2019-02-16 21:23] surayashivji commented on #161
also facing this issue
has anyone found a workaround?

[2019-02-19 02:39] dxd214 commented on #219
How to fix or bypass

[2019-02-19 02:42] dxd214 commented on #162
And how to fix brother

[2019-03-26 08:03] JiekangLiao opened #222 "I get the current Index not match the current Frame."
Some times, I get the current Index not match the current Frame.
I try to used FLAI framework create a simple dice game. Then discover the frame and index not match.  Previously, I got these two properties when the FLAI called the stop method.
.........
Forgive me for my English proficiency. If you like, by the way, translate again.

[2019-04-01 11:38] xllpp opened #223 "When I use gifs in the tableView, it has no animation after sliding."
I commented out this code and it returned to normal.

`
- (void)purgeFrameCacheIfNeeded
{
//     Purge frames that are currently cached but don't need to be.
//     But not if we're still under the number of frames to cache.
//     This way, if all frames are allowed to be cached (the common case), we can skip all the `NSIndexSet` math below.
    if ([self.cachedFrameIndexes count] > self.frameCac

[2019-04-11 20:03] jose920405 commented on #157
same problem here

[2019-04-11 20:04] jose920405 commented on #149
Same problem

[2019-04-23 14:26] EsquilliDev commented on #149
I solved the issue using [this](https://github.com/Flipboard/FLAnimatedImage/issues/161#issuecomment-257922578) fix. Now the GIF is playing at normal speed.

[2019-04-23 14:56] jose920405 commented on #149
@EsquilliDev thanks..

In my case i'm using this module in a `react-native` project.

[react-native-flanimatedimage](https://github.com/nihgwu/react-native-flanimatedimage).

and in this module, they do not use **imageView**.

I will try fork and update that módule or use `Native UI Components` in my projecto to fix it. Tks

[2019-04-23 17:10] nikoremi97 commented on #161
@EsquilliDev your issue reference is also the answer above https://github.com/Flipboard/FLAnimatedImage/issues/161#issuecomment-257922578
I haven't found a solution for this.
Anyone please HELP!

[2019-04-26 03:50] lxfrainbow commented on #219
How to fix???

[2019-06-20 08:16] rbyyy commented on #156
_loopCount = [[[imageProperties objectForKey:(id)kCGImagePropertyGIFDictionary] objectForKey:(id)kCGImagePropertyGIFLoopCount] unsignedIntegerValue];

这里需要做判断。nil表示不循环，0表示无限循环。由于这里获取的loopCount进行了减一。所以需要在获取到大于0的时候，进行一次加1操作。
id gifLoop = [[imageProperties objectForKey:(id)kCGImagePropertyGIFDictionary] objectForKey:(id)kCGImagePropertyGIFLoopCount];
_loopCount = 1;
if (gifLoop) {
	_loopCount = [[[im

[2019-07-09 08:15] berchan commented on #219
https://github.com/vilanovi/UIImage-Additions/issues/2
maybe it can be fixed

[2019-07-16 12:50] faber0709 opened #225 "when I use"

[2019-07-16 12:52] faber0709 opened #226 "when I use in UICollectionView ，if I select cell，the image change to highlightedImage"
when I use  in UICollectionView ，if I select cell，the image change to highlightedImage。then the animatedImage will be nil

[2019-07-17 07:06] #226 closed

[2019-08-04 01:22] michael-mckenna opened #228 "SwiftPM Support"
Hi,
  [SwiftPM](https://goo.gl/E01ufX) is Swift's official package manager.

  Here some articles about SwiftPM:

  * [An Introduction to the Swift Package Manager](https://goo.gl/byiOc6)
  * [Swift Dependency Management for iOS](https://goo.gl/7eaz1A)
  * [Getting Started with Swift Package Manager (SwiftPM)](https://goo.gl/rCHeQU)
  * [Swift.org: Package Manager](https://goo.gl/E01ufX)

  When y

[2019-09-20 11:11] dineshsharmaskycore commented on #171
There is any update on this warning issue.

'frameInterval' is deprecated: first deprecated in iOS 10.0 - preferredFramesPerSecond

[2019-10-01 05:42] abhishekmomentsnap commented on #183
any solution for the above problem?

[2019-10-09 06:30] wangyongy opened #230 "some gifs abnormal"
eg:https://resource.iiisland.com/user/image/1E01D9492FB3AFCC6C0617C3198F12C5-5d89ce152ed84331c6a4facc.gif
load this gif,then push to other controller
finally pop,you will find,the gif no display

[2019-10-16 15:53] mansoorshahsaid commented on #161
Had the exact same issue. Couldn't find a way to make my GIF play properly with this FLAnimatedImage library. I decided to upload my gif on the GIPHY app to see how it would display over there. To my surprise, it worked perfectly. Did some research and found out the library they're using for GIFs playbacks.

GIPHY is using the `YYImage` pod, tried it and fixed my problem completely! So then, I rem

[2019-10-24 17:38] muehlemann commented on #216
Any update on this?

[2019-10-25 08:20] WangJian0 opened #232 "Refresh FLAnimatedImageView"
On iOS 13 system, refresh  FLAnimatedImageView a same gif,it will flash.But iOS  12 system not flash.

[2019-11-08 09:30] kuiZhang98 commented on #194
The same issue

[2019-11-26 11:42] monolithic-adam commented on #232
Not sure if it will help you or not but we were having the same flashing problem with this code
[code]
but when we changed it to this it stopped flashing
[code]

[2019-12-01 06:41] SuperDizzy commented on #156
loopCount在哪里进行了减1操作，没有发现啊

[2019-12-10 03:58] TedCorleone commented on #99
<img width="439" alt="Screen Shot 2019-12-10 at 11 54 50 AM" src="https://user-images.githubusercontent.com/7848894/70493841-10b14300-1b44-11ea-80ba-7a88dab70e27.png">

Make sure that you set correct custom class as `FLAnimatedImageView` for UIImageView.

[2020-03-25 07:02] oneofai opened #238 "Need update dependency framework at podspec"
In Xcode 11.4, FLAnimatedImage has a `Target Integrity` warning,

[2020-03-29 08:05] mofarhand commented on #222
I have the same problem,
is there any fix for this?

[2020-04-09 07:34] yaomars commented on #219
@Mrshang110 Do you have a solution？？

[2020-05-27 21:39] #238 closed

[2020-06-11 08:47] fukemy opened #240 "add gif into NSTextAttachment"
hi. did u try with NSTextAttachment

[2020-06-16 05:23] pjebs opened #241 "animated PNG support"
Will animated PNG be supported in the future such as here: https://github.com/onevcat/APNGKit

[2020-06-21 22:11] narniaexpert opened #242 "Bug Report"
I have tried to use this library according to the instructions provided by https://vikrambahl.com/animated-gifs-ios-xcode-storyboards/

This was the build error I came across:

Ld /Users/David/Library/Developer/Xcode/DerivedData/MathInvaders-bccdvarvqbkxcqaqzhwhquyuluol/Build/Products/Debug-iphonesimulator/MathInvaders.app/MathInvaders normal i386
    cd "/Users/David/Documents/iPhone Development/

[2020-06-22 00:50] narniaexpert commented on #242
This was my mistake based on how I added the files to the XCode project. Sorry.

[2020-06-22 00:50] #242 closed

[2020-06-30 02:57] FinalFanTasyPHD commented on #219
make isPredrawingEnabled false

[2020-07-16 13:52] #207 closed

[2020-09-17 01:24] joneswah commented on #216
Any update on this?

[2020-09-17 03:07] vinsent commented on #216
Any update on this?

[2020-09-18 04:02] AlexanderPan commented on #216
Any update on this ~ ?

[2020-09-24 16:37] oneofai commented on #216
Any update on this issues?

[2020-09-29 08:41] wolangerxing commented on #230
same as you

[2020-09-29 10:05] wolangerxing commented on #230
hey, I have found a solution to fix this.
In `- (void)displayDidRefresh:(CADisplayLink *)displayLink`  func, insert one line code at position show blow, which is **_bold and italic_** mode
`
                   if (self.loopCountdown == 0) {
                        [self stopAnimating];
                        **_self.image = self.currentFrame;_**
                        return;

[2020-10-21 12:13] noorulain17 commented on #162
This issue is still happening on iOS 13 & 14. Any plans for the fix?

[2020-12-06 09:14] godpit opened #246 "the image can not be displayed for ios 14."
the image can not be displayed for ios 14. How to resolve ?
some suggestion :

- (void)displayLayer:(CALayer*)layer

insert into the code:

if(@available(iOS14.0, *)) {

            [superdisplayLayer:layer];

        }

But, it did not work.

[2021-01-16 08:28] yymjr commented on #246
I also experienced the same situation.

[2021-01-30 19:53] raphaelschaad commented on #162
Investigate the problem and author a PR that fixes it. Contributions are welcome.

[2021-01-30 20:37] raphaelschaad commented on #216
<img width="1394" alt="CleanShot 2021-01-30 at 21 36 17@2x" src="https://user-images.githubusercontent.com/439447/106367492-423a2e80-6343-11eb-9eef-87ec0307063a.png">

[2021-01-30 20:37] #216 closed

[2021-02-05 04:15] herokyo886 commented on #152
same problem

[2021-02-05 04:25] herokyo886 commented on #205
How to disable animating every time when push another view and back

[2021-02-08 17:18] Kienty commented on #246
你怎么解决的？

[2021-02-28 14:36] #163 closed

[2021-02-28 14:37] raphaelschaad commented on #148
Not without changes, but the changes would be relatively trivial.

[2021-02-28 14:37] #148 closed

[2021-02-28 14:38] raphaelschaad commented on #204
The latest is @ [1.0.15](https://github.com/CocoaPods/Specs/blob/master/Specs/2/a/8/FLAnimatedImage/1.0.15/FLAnimatedImage.podspec.json).

[2021-02-28 14:38] #204 closed

[2021-02-28 14:43] raphaelschaad commented on #87
This seems to have somehow resolved itself. It seems to work for me (tested on iOS Simulator 14.4).

[2021-02-28 14:43] #87 closed

[2021-02-28 14:43] raphaelschaad commented on #225
¯\_(ツ)_/¯

[2021-02-28 14:43] #225 closed

[2021-02-28 14:44] #103 closed

[2021-02-28 14:45] #120 closed

[2021-02-28 14:46] raphaelschaad commented on #132
The only hints I could find were in https://github.com/Flipboard/FLAnimatedImage/pull/177

[2021-02-28 14:47] #134 closed

[2021-02-28 14:47] #135 closed

[2021-03-13 05:01] crspybits opened #247 "Adding as SPM package issue"
When I try this, I get:

[code]

when I try to build.

[2021-03-17 12:36] zisulu opened #248 "Single-frame GIF has rendering issues on iOS 14"
I only have this problem when loading a single-frame GIF, the rest is unclear...
- didMoveToWindow will be triggered when we switch viewControllers,
but self.layer.contents may be nil, causing the FLAnimatedImageView to display blank.
I have solved it through hook -updateShouldAnimate temporarily. I hope the official can provide the correct solution as soon as possible, please...
- (void)xxxx_upda

[2021-03-26 09:32] wty302857194 commented on #200
分支怎么用呢？

[2021-04-08 07:07] #247 closed

[2021-04-08 07:12] raphaelschaad commented on #228
This now seems unblocked and can be added to the README.

[2021-04-15 11:28] PChmiel commented on #228
hi @raphaelschaad! It looks like without adding a tag and releasing a new version (1.0.16 - currently doesn't exist in the repo) spm sill will be failing if you will be using README notes to install.

[2021-04-15 17:00] raphaelschaad commented on #228
@PChmiel Mind opening a PR to update the README (add the badge etc.) -- I'll then merge, tag, and release.

[2021-04-16 06:18] PChmiel commented on #228
@raphaelschaad yea but basically README was updated too fast (before tagging) and it doesn't require any change once you add the new tag and release a new version. There is nothing to pr.

[2021-04-19 07:23] fengweizhao commented on #200
我修改这个值（    const NSTimeInterval kDelayTimeIntervalDefault = 0.035;），来改变gif 播放速度，不知道有什么不妥不？

[2021-04-22 04:19] raphaelschaad commented on #228
1.0.16 pushed -- does that work?

[2021-04-22 08:35] PChmiel commented on #228
Yes, it is. Thanks! 🙏🏻

[2021-05-30 02:14] rodmaz commented on #202
Check the method `frameDelayGreatestCommonDivisor` in `FLanimatedImageView.m`.
In our case, when the video was converted to animated GIF using 1 frame for every 3 seconds, the GIFs were terribly slow. So we changed the method a bit to convert to a more reasonable rate.
Ugly hack but it kind of worked.

[2021-07-12 07:14] huangxiaodi opened #251 "播放速度秒数对不上问题"
我有一张gif图片  3秒75帧 平均每帧0.04秒。用这个框架播放需要5到6秒才完成

[2021-07-26 07:00] zisulu commented on #248
@raphaelschaad Is there anyone who can solve this problem, or at least pay attention.
My solution can be used, but not including some special cases, such as using UIPopoverPresentationController, still can cause it to become nil, I can't figure out the reason...)

[2021-08-18 02:05] helinyu commented on #251
这个不是少于50ms会默认为100ms么？？ 应该不能够平均吧？ 帧间距可能不一样，给个gif图看看？

[2021-09-24 17:59] eman1986 commented on #160
I'm not seeing such a way, posterImage is readonly and according to the header file is read only so it can't be changed. this would be very helpful as I'm currently running into an issue where I want the gif to not animate unless the user taps on the image or the play button itself.

I've found one sort of way to achieve that, but it seems to get undone once the user is taken away from that screen

[2021-09-27 11:59] viewDidAppear opened #253 "Hardcoded Frame Rate Divisor"
## Overview

As of iPhone 13, more devices now have a 120Hz refresh rate. In `FLAnimatedImageView`, the refresh rate is defined as a `const` of 60, instead of using the `maximumFramesPerSecond` property available on `UIScreen`.

## Suggested Fix

Use `maximumFramesPerSecond` property available on UIScreen, instead of a hardcoded constant subject to change. The value can be cast to an NSTimeInterva

[2021-09-27 13:48] raphaelschaad commented on #253
Oof, good catch and suggested fix @topLayoutGuide ! Mind opening a PR? Happy to merge and cut a new released version for this.

[2021-09-28 09:01] topLayoutGuide commented on #253
Thanks @raphaelschaad. Opened the PR. Please let me know if anything else needs to be done from my end.

[2021-10-08 06:19] fandongtongxue opened #255 "loopCompletionBlock does not work"
I put a gif link to it
loopCompletionBlock does not work

my version: 1.0.16
iOS 15 or iOS 14 also
iPhone X
![WX20211008-141900](https://user-images.githubusercontent.com/21986591/136507791-3ae286d2-4b66-43f5-a329-d03ea722966b.png)

[2021-11-08 23:31] syncToCloud commented on #253
Any updates here on the GIF double speed issue? I see the PR was opened in September and hasn't been completed

[2021-12-09 02:30] #253 closed

[2021-12-13 03:03] bullerliu opened #257 "在iPhone13Promax播放帧率异常加快"
在iPhone13 promax播放Git图异常，播放帧率和速度异常加快

[2021-12-13 22:23] matrush commented on #257
Have you tested with #256? I believe it should fix the issue already.

[2022-01-29 08:06] ChangChangXin opened #258 "iPhone 偶尔 crash , ios14.8 or iOS 15.0,FLAnimatedImage initWithAnimatedGIFData:optimalFrameCacheSize:predrawingEnabled:]"
Crashed: ui
0  libdispatch.dylib              0x3b338 _dispatch_mach_send_and_wait_for_reply.cold.2 + 36
1  libdispatch.dylib              0x1e5dc _dispatch_mach_send_and_wait_for_reply + 1380
2  libdispatch.dylib              0x1e64c dispatch_mach_send_with_result_and_wait_for_reply + 56
3  libxpc.dylib                   0xde30 xpc_connection_send_message_with_reply_sync + 240
4  CoreFoundation

[2022-02-23 02:39] bullerliu commented on #251
我也遇到同样问题

[2022-02-23 03:39] bullerliu commented on #200
改拉一点效果都没有

[2022-03-04 09:47] Jinlongning commented on #200
研究了一下内部的FLAnimatedImageView播放逻辑，通过CADisplayLink回调每次去取对应的GIF帧，由于同步从cache中取帧，取不到则触发异步取帧的逻辑，所以在默认情况下需要至少两次DisplayLink回调才能刷新。解决办法可以在FLAnimatedImage初始化的时候设置optimalFrameCacheSize大于1，这样来增大前边描述的每次异步取帧的个数，达到预取帧的目的，可能造成的影响是内存可能会有所增加。

[2022-03-25 09:12] stevehe-campray commented on #257
在iPhone13 promax播放GiF图异常问题修复后，非GIF图片不能正常显示。

[2022-03-25 09:13] stevehe-campray opened #259 "在iPhone13 promax播放GiF图异常问题修复后，非GIF图片不能正常显示。"
在iPhone13 promax播放GiF图异常问题修复后，加载网络非GIF图片不能正常显示，显示为空白页面。

[2022-04-13 13:44] bullerliu opened #260 "播放速度过慢如何调整"

[2022-06-15 17:14] MalcolmnDEV opened #262 "Bitcode not enabled for package"
Hi

I have installed this package inside my XCFramework but when I try to create the framework I run into this error

`
Showing All Messages
Bitcode bundle could not be generated because '/Debug-iphoneos/FLAnimatedImage.o' was built without full bitcode. All object files and libraries for bitcode must be generated from Xcode Archive or Install build file '/Build/Products/Debug-iphoneos/FLAnimatedI

[2022-07-04 01:45] TML007 opened #263 "Hi, is there the latest version released?"

[2022-07-26 01:34] stevehe-campray commented on #257
我这里已经改了需要的话可以联系我602258720

[2022-07-27 21:55] matrush commented on #257
#256 should resolve this, please pull latest and try again. Feel free to reopen if it's still an issue.

[2022-07-27 21:55] #257 closed

[2022-07-27 21:56] matrush commented on #263
Not yet, we are planning to release a new version with the recent fixes.

[2022-07-27 22:05] matrush commented on #263
Released v1.0.16!
https://github.com/Flipboard/FLAnimatedImage/releases/tag/1.0.16

[2022-07-27 22:05] #263 closed

[2022-07-27 22:05] matrush commented on #259
@stevehe-campray Can you send a project with reproducible steps?

[2022-07-27 22:05] matrush commented on #260
@bullerliu Need more context on the issue.

[2022-07-27 22:58] #240 closed

[2022-07-27 22:59] #205 closed

[2022-07-27 22:59] #209 closed

[2022-07-27 23:00] #214 closed

[2022-07-27 23:00] #241 closed

[2022-08-05 03:47] kimbo-fty opened #264 "why do i can't pod search FLAnimatedImage 1.0.17"
i execute pod search FLAnimatedImage, but result only show 1.0.16.

[2022-08-09 23:39] matrush commented on #264
@raphaelschaad Can you help push the latest Podspec to trunk? Or you can add me as the contributor, I can help

[2022-08-17 03:18] denty commented on #248
@zisulu

[2022-08-17 03:22] denty commented on #248
@zisulu
 maybe is Apple bugs system api  in -[UIImageView _setImageViewContents:] () will set layer.contents into nil
you can add this code to refresh with displayLink callback

`
- (void)displayDidRefresh:(CADisplayLink *)displayLink
{
    ********
            if (self.needsDisplayWhenImageBecomesAvailable || self.layer.contents == nil) {
                [self.layer setNeedsDisplay];

[2022-08-21 21:45] matrush commented on #264
https://github.com/CocoaPods/Specs/commit/5e7523774b301455e44db0a58c6379a5cb9d92da

Pushed 1.0.17

[2022-08-21 21:45] #264 closed, assigned to raphaelschaad

[2022-09-07 10:21] matrush commented on #219
Per the radar:

[2022-09-07 10:21] #219 closed

[2022-09-07 10:25] matrush commented on #260
Stale issue, closing out for now

[2022-09-07 10:25] #260 closed

[2022-09-07 10:27] matrush commented on #194
This is not supported for now.

[2022-09-07 10:27] #194 closed

[2022-09-07 10:27] matrush commented on #184
Staled issue, closing for now.

[2022-09-07 10:27] #184 closed

[2022-09-07 10:28] matrush commented on #255
Can you attach a sample project that can reproduce the issue?

[2022-09-20 03:58] zhoukli commented on #251
我也遇到了你们怎么解决的

[2022-11-08 13:54] jerrydudu opened #267 "Crash in imageAtIndex"
when call imageAtIndex
sometimes crash like this
`
Thread 3 Crashed:
`
`
0   libobjc.A.dylib                 _objc_msgSend  +32
`
`
1   ImageIO                         ERROR_CGImageCopyImageSource_WAS_CALLED_WITH_INVALID_CGIMAGE(CGImage*)  +56
`
`
2   ImageIO                         _CGImageGetImageSource  +108
`
`
3   UIKitCore                       -[_UIImageCGImageContent initWithCGImage:scale: